[2016-03-29 17:35] josef-pkt commented on #2856
AFAIR, the algorithm doesn't identify the seasonal length. That has to be given or inferred from the datatime frequency. (E.g. monthly weather data has annual seasonality, so default is 12, quarterly economics data has annual seasonality so freq=4.) If the seasonality doesn't correspond to the inferred length, then the seasonal decomposition wouldn't work.

Based on what I remember.

[2016-03-29 17:39] debasishdebs commented on #2856
But, I have some decomposition plots which I generated, and they also didn't have any seasonality, and it automatically inferred its corresponding freq.

Let us say, my data doesn't have any seasonality, and it is at 1 minute interval, then according to you seasonal_decompose wont work right? I just want us to be in same page.

[2016-03-29 17:41] fgilbert01 commented on #2867
The use case is the following:

I am using a year of hourly historical electric load to fit a SARIMAX model. From the last value of the historical load, I forecast for the next 24 hours. I run the forecast every hour but would like to be able to fit the model only once a week because I want the forecasting to go fast. The model is run in an operational mode.

If I could fit the SARIMAX model with

[2016-03-29 17:50] josef-pkt commented on #2856
I don't know what your data looks like. Does the plot of your data indicate any cyclical/seasonal behavior? How many observations do you have in total in your sample?

It could be that the function essentially does only a trend decomposition if there is no seasonality. But I think it should still remove a seasonal effect even if that is close to zero. (Similar to including dummy variables in a reg

[2016-03-29 18:01] josef-pkt commented on #2867
To see if I understand correctly:
First SARIMAX (if you have an MA term) needs the estimated residuals before the prediction date.
You can estimate them again by filtering from some previous periods (weeks). The length of the data that would be good to have depends on the persistence of the ARMA, i.e. coefficients/roots close to 1. (that is estimate the residuals but not the parameters)

The alter

[2016-03-29 18:13] ChadFulton commented on #2867
I'm not sure I'm tracking this properly. But there is no need to include historical data or residuals if you're going to use the same parameters and you use the appropriate elements of the `predicted_state` and `predicted_state_cov` matrices.

[2016-03-29 18:20] fgilbert01 commented on #2867
@josef-pkt I think you understood well.
The residual should also be saved in a separate file and updated once we got new observation data. I suppose residual file is linked to only one ARIMAX model parameter. How long the residual file should be can tricky but the programmer can make a test to run a forecast with a short and a long residual to see if makes a big difference on the forecast.

[2016-03-29 18:35] ChadFulton commented on #2867
What are you planning to do with the residuals?

[2016-03-29 18:39] josef-pkt commented on #2867
@ChadFulton   If you have the state available and save it then you don't need the residuals. However, predict in ARMA uses past observations plus past estimated residuals for prediction. There is no saved `state`.
Also, when we have a completely new dataset, then we would need to filter the entire time series to get the current `state` or residuals for the forecast/prediction. (i.e. `filter` with

[2016-03-29 18:44] matthew-brett opened #2876 "Test failure for Sandybridge OpenBLAS kernel - test precision?"
We are in the middle of testing the scipy numerical libraries with OpenBLAS:

* https://github.com/matthew-brett/manylinux-builds/issues/4
* https://mail.scipy.org/pipermail/numpy-discussion/2016-March/075206.html

We have found a couple of test errors in current statsmodels, on just one of the OpenBLAS kernels.

https://github.com/matthew-brett/manylinux-builds/issues/4#issuecomment-203038517

[c

[2016-03-29 19:04] ChadFulton commented on #2867
Okay, that makes sense. I thought you were going to use the residuals in the state space context somehow.

[2016-03-29 22:13] matthew-brett commented on #2876
Thanks.   Can you give any more details on why you think it is the fault of the tests?   I'm asking because we might need to put in a bug report to OpenBLAS if the difference for this kernel compared to others is more than it should be.

[2016-03-30 14:09] fgilbert01 commented on #2867
Chad, Joseph, you were quick to answer.
I can make myself available to test the changes you have discussed above with my case. Can you let me know when theses changes would be available. I could make the test with a specific development version and give my feedback.

[2016-03-30 16:03] matthew-brett commented on #2876
Assuming that this is just numerical precision, PR #2878 slightly relaxes the thresholds on the failing tests - is that reasonable?

[2016-03-30 16:08] xianyi commented on #2876
@matthew-brett , if you think this is a potential OpenBLAS bug, please create an OpenBLAS issue.

[2016-03-30 16:18] matthew-brett commented on #2876
@xianyi - thank you.   I don't understand this code well enough to follow where the precision errors are coming from.  @ChadFulton, who wrote the code, thinks it's reasonable to attribute this to numerical error.  So, I don't think we have any good evidence yet that this is really a bug in OpenBLAS rather than some acceptable precision difference in the calculation.

[2016-03-30 16:36] thequackdaddy commented on #2858
Note to self and others interested:

So I spent some time this morning re-educating myself on some of the underlying math here. I'm honestly still a little fuzzy on some of the details but this is what I'm thinking.

For a random variable Y which follows an EDM (exponential dispersion model) family, we can write the density in one of 2 ways...

![image](https://cloud.githubusercontent.com/assets/8

[2016-03-30 16:46] josef-pkt commented on #2876
for the FriedmanStateRegression failure:

cross linking to difficult optimization problems or convergence failures #1649

My guess, based on a brief look at the unit tests, is that this is a difficult optimization problem that is not well behaved. In those cases small numerical noise can have quite large effects on the final outcome. (If the params are not well identified, then it can still be the

[2016-03-30 17:28] ChadFulton commented on #2876
Yes, these tests have had their tolerances reduced several times due to numerical problems across platforms. I recently improved a lot of these tests, but these are still messy computations. Probably the best solution is to find better optimization problems to use as unit tests.

[2016-03-30 17:29] josef-pkt commented on #2858
The plan is to add Tweedie only for 1< p < 2, is it?

Did you see anything about local optima with respect to estimating p also. Given that maximizing with respect to p is only a one-dimensional problem, and if there are no local minima, then the scipy optimizers should work well.

I guess we need to add a specific fit method that estimates p on top of the irls estimate.

Did you see any recommend

[2016-03-30 18:04] thequackdaddy commented on #2858
Maybe... After your comment I had another look at saddle point approximation... It appears this extended quasi likelihood is based off of the same simplification... At least the formulas look quite similar (though there's an extra 1/2 I think in the quasi... My Math could be wrong.)

For saddle point approximation essentially suggest finding some roots using chebychev polynomials and then interpol

[2016-03-30 18:23] josef-pkt commented on #2858
saddle point approximation is just a specific form of asymptotic ( distributional) expansion.
It's used in some higher order approximation of the distribution of test statistics or estimators, but I never managed to figure it out (and the applications didn't look high priority and useful enough to try harder). AFAIK, almost everything has to be derived case by case, so it's not very useful as gene

[2016-03-31 16:23] #2876 closed

[2016-03-31 16:25] josef-pkt commented on #2733
To this issue:
The easiest would be to raise immediately an exception if endog is 2d in `disctete_model.BinaryModel.__init__`.

For most users it would work using `endog[:, -1]` or `1 - endog[:,0]` for the binary models if endog is 2-d. This would work for Boolean, or any other things like strings that are like 0, 1, but would be just a convention for general string labels where the highest (alpha

[2016-03-31 16:30] josef-pkt commented on #2733
Note: for fixing up `model.endog_names` which is the same as `model.data.ynames`

[code]

[2016-03-31 16:40] josef-pkt commented on #2733
OK, current suggestion:

in discrete `BinaryModel.__init__` we fix endog and endog names with second column, and raise if it has more than 2 columns. (We don't support one against all others. Users can create a binary endog if they want that.)

I also just saw #837 for MNLogit reference category.

[2016-03-31 17:35] fgilbert01 commented on #2867
@ChadFulton

Chad, I think I understood what I need to do with scenario #2. My observed electrical load data have a 24 hour season. Then I would do the following:

- Fit the SARIMAX model with 8760 observed values (1 year)
- Save the 'predicted_state'  and  'predicted_state_cov' parameter each one in a separate file
- Run the forecast and terminate execution
- When I receive a new observation data

[2016-03-31 17:49] ChadFulton commented on #2867
Yes, that looks right to me.

[2016-03-31 19:55] thequackdaddy commented on #2858
So good news and not so good news...

I've put together code that calculates Tweedie densities for 1 < p < 2 using the series method. It wasn't that bad. I followed the paper here:

http://www.statsci.org/smyth/pubs/tweediepdf-series-preprint.pdf

My code is here:

https://gist.github.com/thequackdaddy/1ee4c24665e9a2b2be93790d888b4775

The speed actually seems much quicker than the R code...

[cod

[2016-03-31 20:26] josef-pkt commented on #2858
`np.where` is not good for not very cheap calculations. Use direct assignment with a mask, or use a copy of lazy_where. This got added to scipy as internal helper function for cases like this.
https://github.com/scipy/scipy/blob/master/scipy/_lib/_util.py#L26

about cython and speeding up:
most similar functions, that for example need to calculate an infinite sum by truncation with limiting the ap

[2016-03-31 22:22] thequackdaddy commented on #2858
The endog values are claim amounts per year... so... Loss Payments / Years Policy Active.

Some policies can be really short... (only in force for a month or so). So the denominator can be real small there. Or the policy could be in force for an entire year. Maybe the largest endog would be $10 million? (In the dataset I'm looking it, its only $750k, but it could easily be higher if you have a big

[2016-03-31 23:45] josef-pkt commented on #2858
After 2 weeks I already forgot most things about Tweedie. (and references are buried somewhere below inverse probability weighting :(

I think I was thinking about how many Poisson counts would be in the compound-Poisson interpretation so we get a rough estimate for brute force truncation in the mixture distribution.

In terms of getting a solution that calculates fast, I still think we should jus

[2016-04-01 00:10] thequackdaddy commented on #2858
Hmm... interesting. Let me restate what I think you are saying.... I'm a little slower than you...

In [Dunn Smith](http://www.statsci.org/smyth/pubs/tweediepdf-series-preprint.pdf) section 7, he shows the derivative of the density w.r.t. scale. I presume we could use this to calculate scale?

Then you suggest we use the quasi likilihood formula in Kaas to estimate a density, given a p and scale,

[2016-04-01 00:40] josef-pkt commented on #2858
What I'm trying to say is: forget full MLE or QMLE (for now).
All we need is the IRLS estimator for the beta mean parameters given a p, and a moment estimator for p and scale.

(This is similar to how we can estimate the Negative Binomial parameter in GLM or heteroscedasticity with feasible generalized least squares with WLS, and it's also how GEE estimates the correlation.)

1. fix an initial p,

[2016-04-01 01:01] josef-pkt commented on #2858
Reading SAS again, just maximizing the "extended log quasi-likelihood" that you cited earlier doesn't sound so difficult either, and the results are "usually" close to the full loglikelihood solution.

http://www.casact.org/newsletter/pdfUpload/ar/Brainstorms_corrected_from_AR_May2009.pdf
he uses a initial gamma estimate to get an estimate of `p`

How much effort to put into this depends on how im

[2016-04-01 12:14] thequackdaddy commented on #2858
Ok I totally misunderstood. Ha.

I like the idea of estimating p/shape and phi/scale using only residuals. Looking at the literature, I have no clue how to do this, however.

It seems this should be possible... there's some relationships that look promising... Let me know if can find that missing reference.

[2016-04-01 13:51] josef-pkt commented on #2858
I browsed some of the pdf files that I have but didn't find the moment estimator for `p` anymore.
The scale can be estimated for given `p` directly from the pearson residuals, as in the current scale estimators, but estimating `p` requires an iterative solution.
(I'm pretty sure I saw it somewhere, with the argument that the moment estimator is a good and cheap way for simple or plain Tweedie, and

[2016-04-01 14:25] thequackdaddy commented on #2858
As for Greek letters, I'm with you in that... Between chi, xi, theta, kappa, phi (which for some reason we pronounce "fee" while the others we say "eye") this is quite confusing.

I fully agree on your thoughts... A cheap p is probably an ok enough p. I there's an old saying that when its comes to good, cheap, and fast you can only get 2 out of the three. I'll be impressed if we can violate that m

[2016-04-01 14:59] thequackdaddy commented on #2858
So this could be totally wrong... but I'll ask anyways...

I noticed [this(http://support.sas.com/documentation/cdl/en/etsug/63939/HTML/default/viewer.htm#etsug_severity_sect017.htm) from SAS talking about their severity procedure. This is in the gamma section for the severity procedure. (So this would be like using the initial gamma to find p.)

![image](https://cloud.githubusercontent.com/assets

[2016-04-01 15:04] josef-pkt commented on #2858
There is also a trade-off in terms of sample size.
Expensive accurate methods are fine in small samples, but in large samples they can be expensive, but in most cases large sample asymptotics kicks in and large sample approximation or asymptotic equivalence should be close enough.
The difficult cases are large datasets that are "small" in terms of asymptotics, e.g. number of parameters grows with

[2016-04-01 15:15] josef-pkt commented on #2858
Starting with the Gamma model is for individual claims data.
It is used in http://www.casact.org/newsletter/pdfUpload/ar/Brainstorms_corrected_from_AR_May2009.pdf which I cited above. See footnote 1.
Because it does not solve for scale (phi) and tweedie `p` at the same time it will not be an iterative solution to estimate the parameters if the record includes many events, i.e. the count distributi

[2016-04-01 15:16] thequackdaddy commented on #2858
Ahh... so that won't work... I definitely will have 0 for policies without claims.

[2016-04-01 15:35] josef-pkt commented on #2858
If `r_i` are the response residuals, we need to solve a moment condition like

`E(r**2) = scale * mu**p`
or
`E(r**2 / mu**p) = scale`

where the expectation is replaced by summing over observations. scale = phi

log-linearizing would just be a linear regression  `log(r_i**2) ~ log(scale) + p log(mu)`
but that might not be a good estimator because of the heteroscedasticity (variance depends on mu).

[2016-04-01 15:38] josef-pkt commented on #2858
I don't think 0 claims are a problem. I assume they estimate the Gamma severity distribution only on the cases with a claim. I think the main problem is if an observation includes e.g. 10 or 20 claims, in which case the Gamma won't be appropriate because the data is already a mixture of claim counts and severity per claim.

[2016-04-01 17:00] thequackdaddy commented on #2858
Oh. That should be fine then. Most records will have no claims. (90%+). Then the rest will have 1, 2, 3 ... claims.

The chance of having 3 or more claims on a single record is extremely unlikely. In any event, the way the data is structured, a record with 3 claims that add up to $100,000 will look identical to a record with one massive $100,000 loss.

I'm still in the dark on this method of momen

[2016-04-01 17:13] josef-pkt commented on #2858
I'm also pretty lost. I just looked at the same paper, it's the same basic idea what I'm thinking of but it looks like it's a random effects version, for given p

I was trying to search and skim through many papers but don't find anything that would fit.
My problem is that I downloaded more than 400 pdf files in the last two weeks, many with related topics, e.g. two part, excess zeros for various

[2016-04-01 20:22] thequackdaddy commented on #2858
I put an example together for the extended quasi-likilihood and that's not looking promising anymore either...

[Gist](https://gist.github.com/thequackdaddy/7f1fe82e4f6ad7aa8f33b6a3170da2c8)

I've played around with a bunch of variables and keep seeing that for 1 < p < 2, liklihood increases asymptotically as p->2. When I used the series method, I could clearly see optimial p's. Similarly, it appe

[2016-04-01 20:38] thequackdaddy commented on #2858
Another point... I also improved the Series calculation a little using some of Josef's suggestions.

https://gist.github.com/thequackdaddy/1ee4c24665e9a2b2be93790d888b4775

[2016-04-01 21:05] georgewatts commented on #448
I too would like to know if this is actively being worked on. Happy to commit hours to help with development if necessary.

[2016-04-01 22:00] josef-pkt commented on #448
@georgewatts Nobody is currently working on it. We have a proposal for GSOC for VECM, but any decisions are still weeks away.
The idea would be to build the full VECM model instead of doing the calculations inside the hypothesis test function.

I was thinking of putting this (#453) in the statsmodels.sandbox so it's at least available.
The two main things are, first, to check the option and p-valu

[2016-04-02 01:01] thequackdaddy commented on #2858
As a side note, I will be away for a few days.. So I'll be slow (or unable) to respond to messages until mid next week.

If a lightbulb goes off, let me know. I'll definitely catch up.

Thanks so much for all your help. This has been quite stimulating for me.

[2016-04-02 01:36] josef-pkt commented on #2858
At least this time I'm planning to take notes for the 10 or 20 papers that I'm skimming right now.

Partially independent a full tweedie implementation:
Some of the older actuarial articles estimate tweedie through the compound Poisson representation, some when the number of claims (count) is also observed.
I think going through the compound Poisson representation might be a computationally a comp

[2016-04-02 18:26] josef-pkt commented on #2858
Ok, this time I found the right reference with full theoretical background and derivation of the bias correction for estimating the tweedie variance parameters.

It's essentially as I stated, but there is an extra weight term in the moment condition for `p`

Jørgensen, Bent, Clarice G. B. Demétrio, Erik Kristensen, Gary T. Banta, Hans Christian Petersen, and Matthieu Delefosse. 2011. “Bias-Correct

[2016-04-03 20:13] bfcondon opened #2880 "Update Dependencies on http://statsmodels.sourceforge.net/developer.html"
The page http://statsmodels.sourceforge.net/developer.html currently lists the dependencies as:

Dependencies¶
Python >= 2.5, including Python 3.x
NumPy (>=1.4)
SciPy (>=0.7)
Pandas >= 0.7.1
Cython >= 15.1, Optional but recommended when building from source.

Optional Dependencies
Matplotlib is needed for plotting functions and running many of the examples.
Nose is required to run the test suite.

[2016-04-03 20:19] josef-pkt commented on #2880
Thanks for finding.

I wasn't aware of this page. I think it would be better to delete that section and point to a single location where we have the version requirements.
This duplication is a prime source for having outdated documentation.
http://statsmodels.sourceforge.net/devel/install.html#dependencies seems to be more current.

(The only reliable source of information are the TravisCI unit te

[2016-04-04 14:09] fgilbert01 commented on #2867
Josef, Chad,

I have followed your instruction and the workflow to save the SARIMAX calibration parameter is working just fine. Thank you for your quick answer. I recall having issues with software from large companies like ESRI and the support was not that quick.

As far as I am concerned, the case can be closed.

[2016-04-04 14:19] josef-pkt commented on #2867
@fgilbert01  The case is still open for other users.

It would be great if you could post your solution in a gist or notebook as recipe, or as a PR for eventual inclusion.
IMO we will have to support this directly, at least to get the required helper functions and methods for the models.

(we are open source)

[2016-04-04 15:56] josef-pkt commented on #2625
Soren Johansen has a working paper
http://www.math.ku.dk/~sjo/papers/ReducedRankRegression.pdf

There is more literature on reduced rank regression for linear and other models.

need to check: PCR principal component regression is also reduced rank regression in the original parameterization (original exog).

cross-link: implication for cov_params #1717 which has reduced rank in original space.

t

[2016-04-04 16:49] josef-pkt commented on #2625
just one article that looks immediately interesting for multivariate linear modelling
part 2.1. has standard formula (Note model is SUR with identical regressors and no error covariance included, special case similar to VAR/VECM)

Chen, Lisha, and Jianhua Z. Huang. 2012. “Sparse Reduced-Rank Regression for Simultaneous Dimension Reduction and Variable Selection.” Journal of the American Statistica

[2016-04-04 17:53] josef-pkt opened #2882 "ENH: penalization, shrinkage to subspace"
(issue mainly to park an article that might have good general theory in MLE context, not read yet)

related PR #1665 TheilGLS, generalized Ridge for linear model

Hansen, Bruce E. 2016. “Efficient Shrinkage in Parametric Models.” Journal of Econometrics 190 (1): 115–32. doi:10.1016/j.jeconom.2015.09.003.

I was thinking about something similar also in a GMM framework (but didn't look for literatur

[2016-04-04 18:11] josef-pkt opened #2883 "SUMM/ENH: model averaging estimators"
an issue to start with a new topic: we don't have any model averaging or ensemble methods
I never looked at it, but Bruce Hansen started several years ago.

What's the theory? What's interesting beyond machine learning?

Liu, Chu-An. 2015. “Distribution Theory of the Least Squares Averaging Estimator.” Journal of Econometrics 186 (1): 142–59. doi:10.1016/j.jeconom.2014.07.002.

DiTraglia, Francis.

[2016-04-05 00:54] josef-pkt opened #2885 "ENH: transfer impulse response function, lagged exog"
a bit related #881 dynamic models, where some or most of the dynamics comes from delayed response to changes in exog.

What tools do we have for interpretation? e.g  impulse response function for exog instead of shock.

---

application where I just look for something related:
mortality count models in response to air pollution:
e.g. higher observed air pollution immediately increases hospitalizat

[2016-04-05 14:42] fgilbert01 commented on #2867
The solution is following what Chad has written above.
Can you explain me how Chad proceed to write explanation with source code embedded. I will make the explanation with the same format.

[2016-04-06 14:38] josef-pkt opened #2886 "ENH: GAS models, generalized autoregressive score models"
This looks like a very interesting approach for general nonlinear/non-normal time series models, including point processes

(mentions Poisson ARMA type models as special case, but most applications are in finance)

http://www.gasmodel.com/gaspapers.htm
"The GAS model also goes by the name of Dynamic Conditional Score (DCS) model, Score Driven (SD) model, or Dynamic Score (DySco) model."

I only re

[2016-04-06 14:46] josef-pkt commented on #2886
(I ended up looking at it because I was following up links for GARMA, and Poisson AR or Poisson ARMA applications. health impact of temperature and air pollution, e.g. #2885)

[2016-04-07 08:47] Lampadina opened #2887 "Frequency in seasonal decompose"
Hi, I get the error below if I create a daily daytime index.

`pd.date_range('1/4/1998', periods=567, freq='D')`

result :

File "C:\Python2.7_x64\lib\site-packages\statsmodels\tsa\seasonal.py", line 70, in seasonal_decompose
    pfreq = freq_to_period(pfreq)
  File "C:\Python2.7_x64\lib\site-packages\statsmodels\tsa\tsatools.py", line 657, in freq_to_period
    "think this in error.".format(freq)

[2016-04-07 10:04] #2887 closed

[2016-04-09 14:42] josef-pkt opened #2888 "BUG/Review GLM scale type negative binomial"
Why does GLM negative binomial default to pearson estimate of overdispersion?

unit tests for GLM negative binomial use `Committee` which has reference number scale=0.385...

scaletype is set in `fit` i.e. possible problem if `fit` is called repeatedly with different scale types

AFAICS: we can use `scale` argument in `fit` to get cov_type dispersed through the choice of pearsnon or deviance dispe

[2016-04-10 14:04] josef-pkt commented on #833
bump

I just needed the debugger to figure out that I had use smf.NegativeBinomial instead of smf.negativebinomial

[2016-04-11 16:44] josef-pkt opened #2889 "SUMM/ENH: dispersion modelling in GLM, exponential family"
(this is triggered by some readings on dispersion estimation as followup to Tweedie #2858 #2872)

the question is how do we estimate dispersion parameters or data (exog not mean) varying variance functions.

Basic idea:

1. underlying distribution for fixed dispersion is LEF, mean and dispersion are orthogonal (asymptotically independent)
2. we can just use any moment conditions on the variance an

[2016-04-11 17:04] josef-pkt opened #2890 "ENH: dispersed contingency tables, counts, rates and proportions"
When I was reviewing contingency tables, loglinear models and one or two sample tests for rates and proportions, I saw that all inference relies on the correctly specified model in terms of absence of unobserved heterogeneity, correlation or similar sources of over or under dispersion.

related:
#2718 #2723 two sample hypothesis test and confidence intervals for Poisson rates
#2743 #2605 #2608 two

[2016-04-11 20:04] thequackdaddy commented on #2858
I'm back. Finally. Sorry for being away for so long. Things got busy at work.

I found the paper and have read it. Full disclosure, I'm not a PhD and have never been good at reading academic papers. So a lot of this discussion is way over my head. With that said, I think I understand the gist of what we're supposed to do.. I found a copy [here](https://hal.archives-ouvertes.fr/hal-00746104/documen

[2016-04-11 20:53] josef-pkt commented on #2858
I will look at the details later, tonight.

(Note: 3 years ago a lot of this was over my head in spite of a PhD in economics, with background in econometrics, but not in statistics as emphasised in statistics)

my latest issue related to this is #2889
I did some background reading of the statistics literature in the mean time.

I think we don't want to rewrite fit_irls or other fitting methods in

[2016-04-12 04:05] josef-pkt commented on #2858
I read the paper again.  I would start without the bias correction for the power parameter `b` in the paper.

that is all we need to do is substitute exp(lambda) from equation (3.8) into (3.9) and solve equation (3.9) setting it equal to zero.
Since it's just an equality in one parameter, a scipy rootfinder like brentq or similar might work.

This can then be used to alternate with a GLM Tweedie f

[2016-04-12 19:19] thequackdaddy commented on #2858
Ok I did this pretty simply and got this code... I'm only really deriving 3.9 and using `brentq` to find the root.

https://gist.github.com/thequackdaddy/e34fe095d0043cec353d60e0e0cb2b22#file-tweeide_moments-py-L24

The p-values "feel" reasonable... but they seem a little low... I'm not that familiar with the R tweedie package, so it would be nice to see if the scale and power I get match what R h

[2016-04-12 19:36] josef-pkt commented on #2858
a quick check (I haven't looked at everything yet)
you have a minus instead of a times in your `psi_p` function `(elambda - mu ** power)` in denominator should be `(elambda * mu ** power)`

One check if the variance function captures the dispersion approximately well is to compare the parameter standard errors with the robust standard errors, i.e. add `cov_type='HC0' to fit.

Another check for rou

[2016-04-12 19:43] josef-pkt commented on #2858
About standard errors for the variance power parameter:
If I see and remember this correctly (?), then johansen takes the effect of estimating the mean parameter into account, and there is an asymmetry, we can ignore the estimation of the variance parameters for the mean calculation, but we can or should not ignore the fact that the mean parameters are estimated when calculating cov_params for the

[2016-04-12 19:53] josef-pkt commented on #2858
I added another comment about elambda calculation to the gist

[2016-04-12 20:14] thequackdaddy commented on #2858
Oh geez. I misread that totally didn't I? Thanks.

I'll see if I can check vs. the robust se.

[2016-04-12 20:39] josef-pkt commented on #2858
brentq is a bit fragile, I sometimes get exceptions `ValueError: f(a) and f(b) must have different signs`
In other cases I'm using a backup for the case when f(a) and f(b) don't have different signs.
Also the lower bound `a` might have to be larger. There were some problems reported in one of the articles, but I don't remember for which estimator of the power parameter.

[2016-04-13 07:45] Leoyzen commented on #2873
I'm interesting in this robust model.My daily work is anormaly detection, and looking some implement like tsoutlier .Any suggestion on what I may help?

[2016-04-13 12:39] josef-pkt commented on #2873
Hi @Leoyzen
The time series outlier handling is more difficult, than the case with independent observations.
This issue needs the weights implementation as planned in #2879 for GLM.

There are two issues specific to tsa #943 #2571 and more `outlier` issues that would partially apply to tsa.

What we need in general:
- outlier detection: finding outlier candidates based on residuals (currently OLS/

[2016-04-13 14:15] josef-pkt commented on #943
@Leoyzen To continue on tsoutliers frin #2873

I think what would be useful for applications is to write some wrapper functions that iterate over ARMA or SARIMAX estimation and adjust the models depending on detected outliers.

for example 3 functions (or possibly 1 function and two extendable classes)

- outlier_test, detection: similar to outlier test for linear model, take residuals, calculate

[2016-04-13 16:21] thequackdaddy opened #2891 "BUG?: GLM working residuals"
Wanted to document this in a separate issue.

There is some discussion in #2872 about working residuals. I believe there is an error with our derivation.

Currently, the code is...

[code]

I suggest it really ought to be...

[code]
This change breaks some unit tests... @josef-pkt found [this link](http://www.stata.com/manuals14/rglmpostestimation.pdf) (see page 6) which shows we should multiply,

[2016-04-13 16:27] josef-pkt commented on #2891
skip testing the working residuals. That's what I do in the weights testing PR.
I added the verified results but did not add an `assert` for them, so I can add it later.

The problem is that we need to redo the current unit test results which have coded the wrong numbers. If we just fix the bug, then the unit tests will fail. (all residuals are combined together so it's not so easy just to replace

[2016-04-13 16:38] thequackdaddy commented on #2891
Yes sir. Thanks!

[2016-04-14 00:49] josef-pkt commented on #2888
for using scale to get overdispersion: Kerby had used it already http://nbviewer.jupyter.org/urls/umich.box.com/shared/static/0lgt5635uo6rhakjj9d5.ipynb

see also https://groups.google.com/d/msg/pystatsmodels/F_gshgZarg0/zfzrw-3CBwAJ
followup monologue refers to this issue
notebook link https://gist.github.com/josef-pkt/ff08f8c446576faa3654d17694da01fc
for exog dependent overdispersion

minor bug:

[2016-04-14 02:31] Leoyzen commented on #2873
I've already read the reference of 'Seasonal outliers in time series. R Kaiser'.
http://www.bde.es/f/webbde/SES/servicio/Programas_estadisticos_y_econometricos/Trabajos_sobre_programas/ficheros_Regresion/slsoutlier.pdf

It's seems like the paper is which tsouliter based on.It shows that how to use OLS to estimate the outlier effect of the series and is more easy to implement.

Another word, to dis

[2016-04-14 04:35] Leoyzen opened #2893 "ENH: New Seasonal TimeSeries Model:TBATS/BATS/MTBATS"
A new timeseries forecast/decompose model based on Rob.J.Hyndman's paper. #2892
http://robjhyndman.com/papers/complex-seasonality/

It is the same as the tbats model of R's forecast package.

TBATS: Trigonometric, Box-Cox, ARMA Error, Trend and Seasonal
BATS:Box-Cox, ARMA Error, Trend and Seasonal
MTBATS: The same as TBATS but with multiple error mod(similar with UnobservedComponents)

Feature:
-

[2016-04-14 06:33] Leoyzen commented on #2873
Here's the idea related to this topic.
http://stats.stackexchange.com/questions/104882/detecting-outliers-in-time-series-ls-ao-tc-using-tsoutliers-package-in-r-how

The idea is to estimate the impulse response weights of each outlier and then:
1. apply cleaning filter
2. remove the outlier effect
3. regression the outlier effect as exog

The third way is more general for our model which support ex

[2016-04-14 17:13] josef-pkt commented on #2873
@Leoyzen  Please open a new issue about this. It's different from the weights option for independent data.
I read most of the Chen Liu article referenced in the tsoutliers documentation, but not yet Kaiser Maravall. The approach looks good and relatively simple in the estimator part (given that impact response functions for each outlier type are not estimated). However, much of the work is in the

[2016-04-15 16:26] josef-pkt opened #2894 "BUG/REF PHReg.predict returns Bunch"
PHReg.predict returns a Bunch with predicted and standard errors which breaks writing generic code on top of it
https://github.com/statsmodels/statsmodels/pull/2884#issuecomment-210511548

it would also break generic cross validation or similar.

The pattern that we get slowly into is that predict stays just the mean prediction/expected values and a new method `get_prediction` returns the full pre

[2016-04-15 18:03] kshedden commented on #2894
Leland and I are looking at this and will come up with a PR.

Kerby

On Fri, Apr 15, 2016 at 12:26 PM, Josef Perktold <notifications@github.com>
wrote:

[2016-04-16 00:25] josef-pkt commented on #2414
The Julia package has different default bandwidths depending on the chosen kernel
https://github.com/gragusa/CovarianceMatrices.jl/blob/master/src/optimalbw.jl#L52
I thought I saw a list like this also somewhere else.

In the current implementation, the default bandwidth (`if nlags is None`) is hardcoded and is different from the one in the Julia package for Bartlett.

[2016-04-17 20:45] wehlutyk opened #2895 "ENH: simultaneous confidence intervals for multinomial proportions"
I've been looking around for a pythonic way of computing this, and have found nothing.

The [MultinomialCI](https://cran.r-project.org/web/packages/MultinomialCI/index.html) R package implements the method from [Sison & Glaz (1995), Simultaneous confidence intervals and sample size determination for multinomial proportions](http://tx.liberal.ntu.edu.tw/~purplewoo/Literature/!Methodology/!Distribut

[2016-04-17 21:11] josef-pkt commented on #2895
A direct port will not be useful to us because of the licence incompatibility.

Based on a brief look at the Sison and Glaz article it might not be too difficult to implement it from scratch.

I have never looked at simultaneous confidence intervals in this area, so right now I don't have any background information for this. It sounds interesting and like a good addition.

[2016-04-17 21:50] wehlutyk commented on #2895
All right. I'll try and do an original implementation based on Sison & Glaz then.

[2016-04-17 23:07] anntzer opened #2896 "probability plots comparing datasets with different sizes"
Currently, it is not possible to make a probability plot to compare differently-sized datasets:

[code]

That would be a nice addition.  At least the PP-plot is unambiguously defined; QQ-plots would probably require the user to pass in the quantiles to use.

[2016-04-18 21:04] davidljung commented on #2893
This would be great.  Right now I'm using PyPer to wrap calls to R's tbats implementation.

[2016-04-18 21:09] davidljung commented on #2856
I'm seeing a similar error for daily data passed as a pandas DataFrame with an index constructed thus:

`df.index = pd.date_range(start=df.DATE.min(), end=df.DATE.max())`

then:
[code]

It appears to ignore the freq parameter if passed in this case (as I get this same error regardless of what or if I pass in freq=).

Thanks!

[2016-04-18 21:13] josef-pkt commented on #2893
@davidljung   If you are familiar with this, then it would be very helpful if you could give PR #2892  a test drive and help with the review. That would speed up the merge. (also, there are no unit tests yet.)

I'm not familiar with this, and it will take me some time to look at it. I don't know whether @ChadFulton  is familiar with this.

[2016-04-18 21:15] davidljung commented on #2856
Related to https://github.com/statsmodels/statsmodels/issues/2109

[2016-04-18 21:15] ChadFulton commented on #2893
Somehow I missed that PR completely, I'll take a look at it.

[2016-04-19 07:10] Leoyzen commented on #2893
@ChadFulton The first problem of the model is the single error state space implement.
I think it should be write based on cython extension of existed framework, but I haven't done yet.So just a simple class which we discussed before.

I will write some ipython notebook to introduce the model first.

[2016-04-20 01:26] josef-pkt commented on #2730
just another idea based on double exponential model (GLM with GLM-Gamma dispersion estimation):

instead of using OLS for estimation of the LM test, use GLM-Gamma and test coefficients.
some discussion and example on GLM-Gamma for variance/dispersion function estimation is in Tweedie PR #2872

[2016-04-21 16:47] josef-pkt opened #2897 "ENH: distribution based on series expansion - Poisson"
(cleaning up a pile of papers, I found this again)

Cameron, A. Colin, and Per Johansson. "Count data regression using series expansions: with applications." Journal of Applied Econometrics 12.3 (1997): 203-223.

section 11.2 in count data book 2nd edition describes series expansion Poisson and chapter describes also other "flexible" methods.  (not read)

chapter in book mentions BIC for selecting

[2016-04-21 16:55] josef-pkt commented on #2897
Cameron and Johansson refer also to Efron's double Poisson, double exponential (#2889) model in the comparison of the predicted probabilities in the empirical example.
and a short discussion is in section 4.11 in the count data book.

[2016-04-21 21:20] RedPandaHat commented on #2745
If I might throw in a vote -- we use rolling OLS a great deal, and it would be helpful to still have this available via a simple function call.

[2016-04-21 21:31] zepu-zhang commented on #2671
I saw the latest official release is 0.6.1 from Dec 2014. 'setup.py' sets version to 0.8.0. There is nothing that I see after 0.6.1. 'pip install' knows only up to 0.6.1. Is there any plan for the next release? Lack of regular release is very negative to a library's adoption.

[2016-04-21 22:48] josef-pkt commented on #2745
@RedPandaHat   votes and usecases are useful for the design.
AFAIU, the simplest case would just be a loop using pandas rolling_apply.

My two main design question (I haven't looked yet), are

- what do we need to keep from each regression.
- how much special code should we add to speed up the calculations.

and related to speed:
- some faster methods will be numerically less stable than the full

[2016-04-22 01:09] josef-pkt opened #2898 "ENH: GMM-GLM dispersion Poisson/NegativeBinomial - optimal instruments"
just parking a reference:

issue is replicating GLM with GMM, specifically with dispersion modelling, related to Quadratic Estimating Equations.

In Tweedie PR #2872, issue #2858 the question was how to find the moment condition for the dispersion parameters, specifically the "instrument" in front of the conditional moment restriction for dispersion/variance.
The approach we finally took is direct

[2016-04-22 16:05] josef-pkt commented on #2041
R package statmod has glm.scoretest as a omitted/added variable test

[2016-04-22 19:38] mgxd opened #2899 "multipletests/fdrcorrection0 returning corrected array of nans"
It seems if I pass in an array with any nan values, the pvals_corrected is filled with nans.
The functions I've used:
`statsmodels.sandbox.stats.multicomp.multipletests(p,alpha=0.05,method='fdr_bh')`
`statsmodels.sandbox.stats.multicomp.fdrcorrection0(p,alpha=0.05)`

[2016-04-22 20:02] josef-pkt commented on #2899
I'm pretty sure I've never checked this for behavior with nans.

All functions treat nan as a regular number and just work with it, unless it's explicitly mention that missing or nan are handled.

I doubt that we/users can do anything better than just dropping nans.

The nans will spread to the entire results if we need to do reduce operation and broadcast it back.
One possibility is to check whet

[2016-04-22 20:26] mgxd commented on #2899
@josef-pkt

In my case, I'm taking the difference of coordinates within 3D brain images for pre-post treatment, and then conducting a t-test to see if each value in the array (voxel) differs from 0. But I have to account for multiple comparisons - hence why I'm using this test.

The problem with dropping the nans is the image would lose its structure, unless they could be added back in the same sp

[2016-04-22 20:49] josef-pkt commented on #2899
@mgxd   you can keep the mask and reassign, for example

[code]

this would preserve the position.
If/when we change this, then we would have to do essentially the same.

counting nans as tests or not?
What are the reasons that you have nans in the pvalues?

If we count them as valid tests, then I think it will be equivalent to replacing the nans by 1, i.e. don't reject but use multiple testing co

[2016-04-22 21:36] bburan opened #2900 "BUG/ENH"
Implement formula interface for t_test in MixedLMResults

https://github.com/statsmodels/statsmodels/blob/master/statsmodels/regression/mixed_linear_model.py#L2266

Note: may have to drop extra coefficients if vc_formula was used as the t-test doesn't accept these.

[2016-04-22 21:39] bburan opened #2901 "MixedLMResults.resid broken when vc_formula used"
[example_data.txt](https://github.com/statsmodels/statsmodels/files/232593/example_data.txt)

Sample data attached. Use with the following code:

    x = pd.io.parsers.read_csv('example_data.txt')
    m = smf.MixedLM.from_formula('sf~area*phase*stream', data=x, groups=x['cell'],
                                 vc_formula={'target': '0+target'})
    fit = m.fit()
    fit.resid

Traceback:

    /ho

[2016-04-22 23:24] josef-pkt opened #2902 "FAQ: namespace, eval_env in formulas, from_formula"
How do we update the eval environment when we call patsy within a function, but the formula uses functions from the outer scope?

http://stackoverflow.com/questions/36798992/namespace-issues-when-calling-patsy-within-a-function/36803612

incrementing depth levels in `eval_env` keyword.

[2016-04-23 03:40] kshedden commented on #2901
Should be fixed in #2903, let us know if not.

[2016-04-23 22:11] thequackdaddy commented on #2898
@josef-pkt By GMM, you are referring to Generalized Linear Mixed Models?

So I was talking to an actuary friend a while back. I've been intrigued with the idea of mixed models, but honestly, am unaware of anyone successfully using them. (To my knowledge). The problem is generally that the datasets are too large to add a bunch of coefficients to model random effects.

With that said, there are some

[2016-04-23 22:51] josef-pkt commented on #2898
@thequackdaddy  Sorry, this is econometrics GMM is generalized method of moments (nobel prize a few years ago)

GMM is a generalization of matching moments, similar to what we do with the Pearson function for the Tweedie variance parameters.
The advantage in the context here is that we can get an estimator just based on the moment conditions for mean and dispersion without having  to specify some

[2016-04-23 23:09] josef-pkt commented on #2898
I thought about GMM in the Tweedie context, if we want to get the corrected covariance matrix for the variance/dispersion parameter, which according to Jorgensen depends on the estimation and covariance of the mean parameters.
GMM provides a generic setup to combine different equations to get consistent inference. But it would also be possible to do it explicitly case by case as in Jorgensen, or t

[2016-04-24 23:36] yarikoptic commented on #2669
I think this was fixed with f1dc8979b09bc1736149993f895943b3158ee2db and could be closed?

[2016-04-25 13:38] warren-oneill commented on #247
+1

[2016-04-25 13:38] warren-oneill commented on #247
any word on this?

[2016-04-25 14:22] josef-pkt commented on #247
What's left to do in this issue?

SARIMAX implements all the initial enhancement requests, AFAIK, and I don't think we want to retrofit ARMA for it (given the lack of maintainer).

[2016-04-25 17:34] ChadFulton commented on #247
From the state space models perspective, this issue is implemented and nothing remains to be done.

[2016-04-25 18:11] josef-pkt opened #2906 "FAQ: modelling seasonality in time series"
We have seasonal effects in SARIMAX, but not in the original ARMA, #247

other alternatives
- use deterministic seasonality through exog.
- other tsa models like exponential smoothing versions, ....  see PR #2892
- prefilter seasonality, seasonal adjustment
- ...

Possible problem: in statespace framework long seasonality is memory intensive in the dense representation

a few links

http://robjhyn

[2016-04-25 18:12] josef-pkt commented on #2906
feel free to edit the description and add to it

[2016-04-25 18:14] josef-pkt commented on #247
Thanks @ChadFulton

I'm closing this, open a new issue if there are additional requests
I opened #2906 as a FAQ for seasonality estimation

[2016-04-25 18:20] josef-pkt commented on #2906
(In general: It would be possible to resurrect an `lfilter` ARMA version that would be low memory, but it needs a long time series, and if the seasonality period length is large, then it needs a very long time series to get enough seasons in the sample for reliable estimation. I don't know which kind of time series use cases would fit that description. Besides there is the issue that the observati

[2016-04-25 20:43] mgxd commented on #2899
@josef-pkt
Thanks for the reply, I believe scipy's ttest_1samp (what I'm using) returns nans for 0/0 zero variance.

The nan data is likely blank space outside the brains for both participants - so not counting them as valid tests seems to be the better option.

I have set up almost identical to your method:

`mask = np.isfinite(p)`
`pval_corrected = np.empty(p.shape)`
`pval_corrected.fill(np.nan)

[2016-04-25 20:55] josef-pkt commented on #2899
you need to assign into `pval_corrected` at the non-nan positions, i.e. index with the mask

```pval_corrected[mask] = multipletests(p[mask],method='fdr_bh')[1]```

If your `_pvals` is a view on the original array, then `pval_corrected` would be changed after your assignment. I'm not sure whether this works without trying.

[2016-04-25 21:31] mgxd commented on #2899
@josef-pkt
`pval_corrected[mask] = multipletests(p[mask],method='fdr_bh')[1]` did the trick, and assigned values to select nans in `pval_corrected`. Thanks again!

[2016-04-25 21:43] josef-pkt commented on #2899
I put the summary into the description and added FAQ label.

Eventually we should get this inside the functions with a `missing` keyword for the different options.

[2016-04-25 23:40] #1352 closed

[2016-04-26 14:22] josef-pkt opened #2907 "TST: test_lme.TestMixedLM.test_regularized slow or stalls with scipy 0.12"
The older python 2.7 version on TravisCI is slow and takes much longer than the newer versions.

Sometimes test_lme.TestMixedLM.test_regularized finishes slowly (based on watching the TravisCI progress), and a few times it stalled. e.g. https://travis-ci.org/statsmodels/statsmodels/jobs/125724307
It stalled first in a PR that doesn't change any non-doc code (#2905)

Because there are no problems o

[2016-04-26 14:27] josef-pkt commented on #2669
@yarikoptic  thanks for the pointer

[2016-04-26 14:27] #2669 closed

[2016-04-26 15:30] josef-pkt opened #2908 "ENH: MLE for heteroscedasticity with WLS"
Just an idea how to get the MLE version of GLSHet.
(while thinking about the difference between loglike and deviance. The latter doesn't contain the relevant part of the loglike for variance estimation.)

WLS has the full normal loglikelihood, AFAIU. So we can maximize `llf` over variance/weights parameters. i.e. use an optimization loop over WLS.
(Kerby did something similar for estimating the Ne

[2016-04-26 15:31] kshedden commented on #2907
My experience was that the tests involving numeric differentiation are
quite slow, and the others are fairly fast.  These are already marked as
slow.  I don't recall any speed issues with the regularized testing, but I
will look into that.

Kerby

On Tue, Apr 26, 2016 at 10:22 AM, Josef Perktold <notifications@github.com>
wrote:

[2016-04-26 15:44] josef-pkt commented on #2907
Because the tests run pretty fast on newer version of dependencies, I guess it's not a real problem with the calculations but more likely it is something that might throw off less robust algorithms.
My guess would be that it has to be related to scipy. (optimize ?) or maybe linalg libraries (quick check the old version used libgfortran 1.0, the newer versions use libgfortran 3.0)

[2016-04-26 18:42] #2901 closed

[2016-04-26 18:52] josef-pkt opened #2910 "TST: matplotlib warns too many open windows"
https://travis-ci.org/statsmodels/statsmodels/jobs/125880942

This is from a test run with matplotlib 1.5.1 that is slow and hits the TravisCI timeout limit

there are a few more like these

[code]

[2016-04-26 20:33] ChadFulton commented on #2910
I do create a bunch of plots in `test_structural` and `test_dynamic_factor`, but I explicitly close those plots with `plt.close(fig)`.

This warning first occurs at:

    statsmodels.graphics.tests.test_regressionplots.TestPlot.test_plot_fit ... ok
    statsmodels.graphics.tests.test_regressionplots.TestPlot.test_plot_oth ... ok
    statsmodels.graphics.tests.test_regressionplots.TestPlotFormula.t

[2016-04-26 20:49] ChadFulton commented on #2910
Actually turns out the issue is in `test_mosaicplot.py`. None of those tests explicity close their figures.

[2016-04-26 23:11] #2910 closed

[2016-04-26 23:52] josef-pkt opened #2913 "SUMM/REF refactor link argument in family"
Currently the `family.__init__` takes the link class but not an instance.

This causes problems with parametric links because we need to specify an extra argument in the `family.__init__` for the link parameter.
For example, I don't see how it's possible to use a Power link with user specified power parameter except by writing a subclass, which will break in the valid link check.
see discussion fo

[2016-04-27 00:52] josef-pkt commented on #2860
I think `EEMoments` would be a good name for the family. It combines statistics estimating equations `EE` with GMM `Moment` conditions.

`EEMoments(link=..., var_func=...)`

It will be limited functionality without deviance and llf. just params and cov_params based on irls.
Generic deviance might be possible, I don't know.

I guess a simple example would be generalized negative binomial with log l

[2016-04-27 16:23] josef-pkt opened #2914 "FAQ: number of cores used in statsmodels, and how to restrict it"
Statsmodels is using joblib in a few places for parallel processing where it's under our control but mainly for bootstrap and not in the models.

However, some of the underlying Blas/Lapack libraries in numpy/scipy also use mutliple cores. This can be efficient for linear algebra with large arrays, but it can also slow down the operations especially when we want to use parallel processing on a hig

[2016-04-27 16:56] thequackdaddy opened #2915 "REF: Pearson estimate of scale parameter/Tweedie parameter with weights"
I'm a little confused over how to interpret the Pearson estimates for the scale parameter and a shape parameter in a frequency dataset.

The Pearson estimate of scale is as follows:

![formula][1]

  [1]: https://chart.googleapis.com/chart?cht=tx&chl=%5Cphi_%7Bpearson%7D%20%3D%20%5Cfrac%7B%5Csum%7B%5Cfrac%7Bw_i%20(Y_i%20-%20%5Cmu_i)%5E2%7D%7BV(%5Cmu_i)%7D%7D%7D%7Bdf_%7Bresid%7D%7D

If I have 1 rec

[2016-04-27 17:53] josef-pkt commented on #2915
Do you mean the rate (case per period) with `frequency`?  (frequency makes me think of time series)

I haven't done the math yet, so I'm thinking mainly of Poisson and WLS for the following.

The scale parameter phi is relative to something. In general rescaling the process changes the `scale`.
In terms of exposure (e.g. total time for a Poisson process)
In the first case exposure is 1 (year). In

[2016-04-27 19:14] thequackdaddy commented on #2915
@josef-pkt As usual, you've hit the nail on the head with your interpretation of what I'm writing. By frequency, I mean the number of claims reported per year of policy in-force. (Actuarial texts generally define frequency as claims per unit of exposure... so much different usage for "frequency" and "exposure" than a statistician--or economist--would like.)

If you stumble across any papers on ann

[2016-04-27 19:21] josef-pkt commented on #2915
I didn't find anything yet to verify the dispersion calculation. However, the properties of the variance when aggregating are standard. for example the variance of a compound poisson process is proportional to the time length. So the sub periods should have 1/n times the variance of the full period sum.
What this implies for the dispersion coefficient depends on the shape of the variance function,

[2016-04-27 20:23] josef-pkt commented on #2915
phi = lambda**(1-p) / (2 - p)
where   p = (alpha + 2) / (alpha + 1)  alpha is one of the Gamma parameters

Smyth and Jorgensen p. 146 ASTIn Bulletin Vol 32(1) 2002

lambda is the Poisson rate, for given exposure time t, the rate will be lambda * t, so dispersion parameter depends on exposure time through t**(1 - p)    (same as what I had above)

[2016-04-27 23:18] josef-pkt commented on #2915
I'm just reading the Smyth and Jorgensen 2002 article and they use double exponential to allow dispersion to vary depending on explanatory variables, e.g. if the variance of the gamma claim size distribution varies with subgroups of the population or type of insurance policy separately from the poisson claim frequency.

[2016-04-28 02:26] #2858 closed

[2016-04-28 08:44] bfcondon opened #2917 "Replace Panel with xarray"
In the latest Pandas documents, they note that Panel will be deprecated in favor of xarray.  This is not pressing, but I think it would be best to use xarray or a DataFrame with a multiindex when building functionality for panel data.

http://pandas.pydata.org/pandas-docs/version/0.18.0/whatsnew.html#to-xarray

[2016-04-28 12:06] josef-pkt commented on #2917
I looked at it a while ago in the context of absorbing categorical variables or crossed fixed effects in panel data.
Besides n-dimensional dataframe analog, it has also good dask integration that might help us for out of core calculation.

However, unless there is a specific use case, I don't think it's urgent to add support for it.

I haven't looked at the details of the panel pandas integration

[2016-04-28 13:16] josef-pkt commented on #2831
(too late for proper reference)

I read an article recently (most likely Cameron and a co-author) that has estimation based on aggregated and based on individual data in an example. The robust standard errors in the aggregated model are also about 10 times the ones of the disaggregated model.

[2016-04-28 13:21] josef-pkt commented on #2915
This reminds me now that we haven't checked the usage of exposure in Tweedie.

I finished reading Smyth and Jorgensen 2002 yesterday. It's a good paper that makes a clear distinction between claim cost only data, and the joint model for claim count and claim cost.

They use `w` everywhere to normalize for exposure, but I'm not sure what `w` really is and how this fit's in the code, i.e. exposure o

[2016-04-28 19:55] thequackdaddy commented on #2915
Josef,

`w_i` is the "units at risk". (First paragraph of section 2 of the paper.) I interpret that to be "exposure" more than `var_weights`. (I've been thinking of them as `freq_weights`). In other words, if I have a policy in force for 6 months, and it has 2 claims, the rate of claims per year (paper calls it frequency) is 4 (= 2 / 0.5).

I'm thinking a full Tweedie approach would look (somethin

[2016-04-28 20:22] josef-pkt commented on #2915
(just briefly, comment about `w_i` will follow later)

step 5 doesn't work, steps 1-4 are good

lambda also depends on the explanatory variables and varies by observation, AFAIU.
The calculation go the other way, lambda for the compound Poisson is implied by our estimated parameters for mean and variance.

Now something is strange: because if lambda varies, then phi = lambda**(1-p) / (2 - p)  woul

[2016-04-28 21:13] josef-pkt commented on #1537
I just remembered this and had to search for it.
good to implement, AFAIR.   (I thought I remember something like this for Binomial/Bernoulli, but maybe not.)

It smooths the probability integral transform to get something that looks similar to continuous data case.
The usual is randomization.

[code]

[2016-04-28 21:19] josef-pkt commented on #1537
The Czado et al and similar articles are for predictive distributions and not just for mean prediction.
i.e. we want to estimate a probability distribution that we can use for prediction, and not just get consistent estimates for mean parameters as in QMLE.

[2016-04-28 21:54] thequackdaddy commented on #2915
I've thought about that in the past as well. What I was thinking is that you *could* have a vector of phi instead of a scalar. I see that all the math would still work, with the exception of `cov_params` which is just `cov_params = scale * normalized_cov_params`. `normalized_cov_params` is a calculation for the WLS module =

(Full disclosure, my only real interest in this whole issue is that `cov_

[2016-04-28 21:57] thequackdaddy commented on #2915
P.S... when I got involved with you, I really thought I'd be able to make a handful of fixes and be finished. It does seem that with stats, the deeper I go, the more I realize I don't know...  Hopefully there's a bottom to the ocean.

[2016-04-28 22:33] josef-pkt commented on #2915
There is no bottom to the ocean. But we might be at a level that is appropriate for what we want or need to do.

You could try `cov_type='HC0'` in fit, and see whether it's close to what you expect. It doesn't use the builtin `scale`.

I'm not quite sure about the interaction of exposure and frequency weights.
Do your frequency weights vary a lot?
You could check if you get cov_params closer to wh

[2016-04-28 23:30] josef-pkt commented on #2915
Just a sanity check: integer division
Are you using python 2 or python 3?
Did you check that your total freq_weights is equal to total nobs/exposure when you split the data?

[2016-04-28 23:30] josef-pkt commented on #2915
Also, if you can come up with a simple example that illustrates the effect, then it would be easier for me to look at it.

[2016-04-28 23:36] josef-pkt commented on #2728
@davidwarshaw
You can also just reuse the `exog` of the model, which has the advantage of keeping the formula information inside the model.
But if you suspect problems, then using dmatrices initially and fix any multicollinearity problems beforehand, and then use the corrected formula in the model, is a good approach.

(The formula information is used in a few places like predict and t_test/wald_t

[2016-04-28 23:47] josef-pkt commented on #2915
Another check: Are `bse` (cov_params) tested against R?
I thought so, but I might not have paid enough attention to which tests are against R and which are cross-checks.

[2016-04-28 23:51] thequackdaddy commented on #2915
- HC0... I've been meaning to say that I've had difficulty getting this to work on larger datasets. Haven't really played with it... so I've been using the default (`nonrobust`). I'll take a look later.
- integer division - Using 3.5 atm. I was using 2.7 for something awhile back.
- Well the data exists in "pre-split" format. So the splitting is a natural part of how the data is captured. In other

[2016-04-28 23:58] josef-pkt commented on #2915
You could also try the original data, total claim amounts without scaling, and use exposure for policy-years, e.g. exposure=0.5 for a half year policy. It only works with log link.

This is how we get the results normalized to exposure=1 in Poisson, when actual exposure fluctuates.
E.g. we can predict the mean at exposure=1 (which IIRC is the default)

(assuming exposure is correct in tweedie)

I

[2016-04-29 00:03] thequackdaddy commented on #2915
[Here's a gist](https://gist.github.com/thequackdaddy/7a87783d8d165d319fd5f793488c3d99)

Assume that executions is actually executions per year.

I just doubled the record. I assumed that all executions happen in the first half of the year.

You get the same `params`, but everything else changes.

[2016-04-29 00:05] thequackdaddy commented on #2915
(For the record, you are not the first person I've asked this question too.... I asked a statistician at a consultant that sold a $150K GLM software to answer this question, and they couldn't...)

[2016-04-29 00:23] josef-pkt commented on #2915
If I use `endog2 = pd.concat((endog2 * 1, endog2 * 1))` then I get exactly the same result in both cases. (except that case two has nobs in summary instead of nobs, but the same df_resid.

So there is something specific to splitting it up this way. My **guess** is now that this changes the data, i.e. it's not supposed to be equivalent. You have now a lot more zeros in the dataset and in other case

[2016-04-29 00:49] josef-pkt commented on #2915
Yes, I think that's it.
We need to estimate the dispersion coefficient because it's related to the Gamma variance. So we cannot fix it when we split.

I tried the Poisson case: With the fixed scale=1, both cases produce the same result because of the additivity/homogeneity of the Poisson process.
However, in the second case the dispersion is much larger, so the dispersion would tell us that Poisso

[2016-04-29 01:02] josef-pkt commented on #2915
My guess is that if we observe the number of claims additionally, then we can impose time homogeneity on the arrival process, and identify/estimate the variance of claims separately.
In that way we can impose this kind of additivity, but as in the Poisson case, the data would tell us that we don't have the right model. (e.g. too many zero observations for a Poisson arrival distribution)

As backgr

[2016-04-29 01:10] josef-pkt commented on #2915
Zeroinflation is a good story for this.
Essentially you are introducing zero inflation into the model. If we were to estimate a ZeroInflatedPoisson model, then I would expect the zero inflation parameter to increase and at the same time the Poisson rate lambda so that it averages out to the same longterm mean.

Given that Tweedie and Poisson have an additive structure in the mean function, the mea

[2016-04-29 11:38] josef-pkt commented on #2915
typo in Smyth Jorgensen.

the "strange" think about phi above is that it is a typo in the article, on page 146

phi = lambda**(1-p) / (2 - p)

is missing the tau term and should be

phi = lambda**(1-p) tau**(2-p) / (2 - p)
tau is mean of a single Gamma claim

tau was referred to in the next paragraph in the paper, but there was nowhere the powr (2-p) in the equation.

If phi (dispersion coefficien

[2016-04-29 14:47] josef-pkt commented on #2915
I started to write a summary for the parameterization of Tweedie and compound Poisson
https://gist.github.com/josef-pkt/b8354b64959ebaf8a7b51c49cecdb54c
(math line breaks are messed up for some unknown reason.)

[2016-04-29 16:21] thequackdaddy commented on #2915
Yeah about that invoice... Haha... Happy to provide a donation to the josef-pkt charity fund for the acquisition of inebriating libations. Send me a bitcoin wallet/google pay wallet/paypal address.

I don't know much about zero inflated poisson--though there's a [paper by Zhang](https://cran.r-project.org/web/packages/cplm/vignettes/cplm.pdf)--talking about a zero-inflated compound Poisson. I was

[2016-04-29 19:25] josef-pkt commented on #2915
I'm partway through coding the transformation function and a random sampler for compound poisson and tweedie. I hope it helps to look more closely at what's going on.

My intuition is also that there should be some additivity like this, maybe not strict, but we should at least roughly get the same standard errors. What is even stranger is that the standard errors bse are larger  in the split data

[2016-04-29 19:44] josef-pkt commented on #2915
estimating a simulated tweedie with nobs = 10000

just a simple two group example
true values p = 1.5, scale (phi) = 2.0
mean in two groups 5 and 10
[code]

looks good

[2016-04-29 20:16] josef-pkt commented on #2915
to continue on this: a Monte Carlo with 1000 replication, nobs=10000

[code]

looks very good in large sample and true model is Tweedie compound Poisson, no bias here

[2016-04-30 01:14] josef-pkt commented on #2915
I updated the gist https://gist.github.com/josef-pkt/b8354b64959ebaf8a7b51c49cecdb54c

Add the end I did a similar experiment by summing each consecutive two observations (which have the same exog). This means that initially I have half year data that I combine into one year data. (exposure is per half year) (or we could take initially one year and then we combine two years)

Using exposure, I get

[2016-05-01 16:53] thequackdaddy commented on #2915
Oh my. Thank you.

There's a very simplistic analogy to this behavior [here](http://www.theanalysisfactor.com/the-exposure-variable-in-poission-regression-models/).

For Tweedie, my endogenous really needs to be the loss and an offset for exposure is the used.

This is a super helpful notebook.

[2016-05-01 16:55] thequackdaddy commented on #2915
(That $150k software really doesn't explain things as well as you do.)

[2016-05-03 00:59] #1180 closed

[2016-05-03 01:39] josef-pkt commented on #2894
@kshedden @lbybee   If you have comments about the current implementation for get_prediction, then I would appreciate those. I have only advertised it reluctantly because I wasn't sure about some of the API and implementation choices.

[2016-05-03 02:05] lbybee commented on #2894
I've gotten something for this together that seems to be working, the only issue right now is that it breaks the MICE tests.  @kshedden and I are actually meeting tomorrow and I was planning to submit a PR after we talk.

Basically the way it is working right now is in line with what you mentioned in the initial comment.  I've duplicated a version of _prediction from regression that works for PHRe

[2016-05-03 02:32] josef-pkt commented on #2894
@lbybee  thanks for the update.
IIRC:
Mice is special casing the predict method of PHReg which won't be needed anymore once predict follows the standard pattern.
The special casing in base.Results.predict uses an attribute instead of isinstance check which is not directly affected by changes in PHReg predict, but the special casing can be removed when PHReg.predict is standardized.

About your new

[2016-05-03 12:14] lbybee commented on #2894
Ok, sounds good.

It isn't a complete duplicate or subset of the other get_prediction, there were some changes that needed to be made to make it play nice with PHReg, but they were fairly small changes.

[2016-05-03 12:24] N-Wouda commented on #1309
Do we want to continue work on this? @josef-pkt

Based on the method outlined in Guerrero (1992), I wrote some Scala code on lambda selection for the box-cox transform a couple months back. I could easily refactor and open a PR, but I would rather also have the two parameter transform included (I'd have to read up on the 'original' profile likelihood selection, but I foresee no difficulties).

[2016-05-03 17:43] josef-pkt commented on #1309
@N-Wouda

I still think adding support for box-cox and similar transformation is of practical importance and should be added. We also have a new PR, #2892, that includes box-cox transformation in a new group of time series models.
I never looked at box-cox in the context of time series forecasting, so I read Guerrero today, and
also
Proietti, Tommaso, and Helmut Lütkepohl. 2013. “Does the Box–Cox

[2016-05-04 11:18] wehlutyk commented on #2895
The R package linked to above is in fact "an R translation of the SAS code implemented by May and Johnson in their paper: [May, W.L. and W.D. Johnson. Constructing two-sided simultaneous confidence intervals for multinomial proportions for small counts in a large number of cells](https://www.jstatsoft.org/index.php/jss/article/view/v005i06/Sisonfinal.pdf)". [May & Johnson (1997)](https://www.resea

[2016-05-04 14:30] josef-pkt commented on #2895
papers and published articles are still copyrighted. (usual disclaimer: I'm not a lawyer.)
When I started with scipy around 8 years ago, the answer was negative. Without a compatible license statement or explicit permission by the authors it is not allowed to translate the code and redistribute it under a different license. Some journals that publish more software have a, most of the time restrict

[2016-05-04 16:14] N-Wouda commented on #1309
@josef-pkt well, my personal background is in (predominantly) tsa, where I've come across some of these transforms now and then. While they do not always have sizeable effects, they are convenient to use/try on the data.

Feel free to tag me into anything alike to this if you decide on what to do. I'd very much support adding transformations for time series data and am willing to contribute.

[2016-05-04 16:57] josef-pkt commented on #1309
If you would like to get started with this, which would be great, then I'd suggest collecting the necessary pieces.
For example last year I started to write "wrapper models" for some new models that build on existing model, either as mixins or taking an existing model as argument, or specialized cases that just delegate the work to an existing model.

For example, a OLSBoxCox or ARIMABoxCox would

[2016-05-04 19:11] N-Wouda commented on #1309
@josef-pkt I'll write up something real quick, expect a PR within a few hours.

I came accros `Riani, Marco. 2009. "Robust Transformations in Univariate and Multivariate Time Series". Econometric Reviews. 28 (1-3): 1-3.`, which also seemed promising. If you find the time, would you care to take a look?

[2016-05-04 19:48] josef-pkt commented on #1309
I've downloaded Riani Marco yesterday but didn't look at it (or don't remember why I didn't look closer, except that I downloaded more than 100 articles afterwards)
I will look at it today.

outliers and special events in time series are a more serious issue if it effects the mean parameter estimation and prediction. We will need to handle that in statsmodels at some point.

However, for box-cox t

[2016-05-05 00:41] josef-pkt commented on #1309
About the Riani paper:
My main impression: too much work and too complicated for the benefits.

There are some interesting parts in there that I never looked at before, like full MLE for the transformation in statespace models and score tests for statespace models (or ARMA) by variable addition test. However, the forward search goes in the direction of robust, high breakdown estimators that would

[2016-05-05 13:06] GoingMyWay opened #2926 "ENH: Add a generic plot_predict function"
## ENV
- Python 2.7
- np.**version**: 1.11.0
- pd.**version**: 0.18.0
- scipy.**version**: 0.17.0
- matplotlib.**version**:  1.3.1
- statsmodels.**version**: 0.5.0
## WHERE

I tried the [ARMA code](http://statsmodels.sourceforge.net/devel/examples/notebooks/generated/tsa_arma_0.html) and I got error in `In[21]`

[code]

And the `plot_predict` [doc](http://statsmodels.sourceforge.net/0.6.0/generate

[2016-05-05 13:19] josef-pkt commented on #2926
statsmodels 0.5 is old, and I guess it didn't have plot_predict.

The `"devel"` documentation is for master and not all things will be available in older versions.
0.6.1 should have it. It is in master, and I can run the `tsa_arma_0.py` file without raising an error.

[2016-05-05 15:44] GoingMyWay commented on #2926
I need to update to 0.6.1. It works now!

[2016-05-05 21:26] kernc commented on #2655
Duplicate of https://github.com/statsmodels/statsmodels/issues/2667, fixed in https://github.com/statsmodels/statsmodels/pull/2675.

[2016-05-05 21:41] josef-pkt commented on #2655
Thanks for finding, closing

[2016-05-05 21:41] #2655 closed

[2016-05-05 23:50] josef-pkt opened #2928 "BUG: stats.moment_helpers does inplace modification"
`mnc2cum(m)` modifies the input array inplace

just took me a while to figure out why my numbers don't match up, and keep changing.

[2016-05-07 23:38] josef-pkt commented on #2928
It also doesn't work correctly vectorized for 3rd and 4th cumulant

for smmh.mc2cum

[code]

[2016-05-08 00:04] josef-pkt commented on #2928
I think the vectorized bug is a consequence of inplace modification which is not a problem in the scalar case, because scalars are not mutable.

[2016-05-08 04:53] josef-pkt opened #2929 "BUG/ENH: edgeworth expansion for discrete random variables"
There seems to be a problem in the Edgeworth expansion in statsmodels.distributions for this case.

The example is Poisson where all cumulants are equal to the rate lambda.
The numbers using ExpandedNormal are very large, either something weird or something that forces a density.
I have no idea whether the problem is in the computation or the theory, because I never looked at Edgeworth expansion f

[2016-05-08 05:07] josef-pkt commented on #2929
using Gram-Charlier gives almost the same answer as the new handwritten Edgeworth version

[code]

compared to (copied from above)
0.065953825954002607 for edgeworth, and
0.066128872394649665 for poisson

[2016-05-09 18:18] josef-pkt opened #2931 "ENH hypothesis tests, confint for multinomial proportions (exact)"
companion to issue #2895

Cai, Yong, and K. Krishnamoorthy. "Exact size and power properties of five tests for multinomial proportions." Communications in Statistics—Simulation and Computation® 35, no. 1 (2006): 149-160.
(only 7 citation in Google scholar, but looks good to me.)

The probability space for multinomial distribution is too large for exact calculation except in very small samples. For

[2016-05-09 18:27] josef-pkt commented on #2607
#2931 proportions with multinomial sampling (one sample multinomial)

[2016-05-09 18:38] josef-pkt commented on #2607
related: stochastic dominance in the multinomial case, or two sample multinomial case,
I have not looked for specific references, there is some general stochastic dominance work (for continuous random variables) and trend tests for contingency tables.
There should be some general stochastic dominance tests for multinomial, i.e. essentially an extension of one-sided inequality hypotheses to multipl

[2016-05-10 21:02] josef-pkt opened #2933 "ENH: large sparse VAR"
some references that I downloaded, but I only read part of Basu/Michailidis 2015

Basu, Sumanta, and George Michailidis. 2015. “Regularized Estimation in Sparse High-Dimensional Time Series Models.” The Annals of Statistics 43 (4): 1535–67. doi:10.1214/15-AOS1315.

Dowell, J., and P. Pinson. 2016. “Very-Short-Term Probabilistic Wind Power Forecasts by Sparse Vector Autoregression.” IEEE Transactio

[2016-05-11 17:06] josef-pkt opened #2936 "FAQ/SUMM: sampling spaces for rates and proportions"
Hypothesis tests and confidence intervals are derived under some assumption on the sampling distribution, or on the conditional sampling distribution in the case of conditional tests.

In the case of asymptotic distribution of a test statistic, the sampling distribution enters in the assumed form of the variance. see for example #2689

In the case of exact hypothesis test and confidence interval,

[2016-05-12 12:48] josef-pkt commented on #2933
(comments also posted to the mailing list)

I read their 2012 Arxiv version because it has nicer formatting for reading on an ipad.

I didn't realize before that they were negative on LASSO, nice :)
(typical biased results for parameter estimation by LASSO also occurs in a time series context.)

a few comments:

Their distinction between Lasso-SS and Lasso-LL is more like OLS versus GLS. In Lasso-

[2016-05-12 13:49] josef-pkt commented on #2933
Stata allows for constraints in `var` and have an example with zero constraints.
They don't specify how they estimate and just mention SUR, which I guess means that they use a full version that would require a large amount of or too much memory with large systems of equations.
They don't allow error covariance restriction in `var`, those are only in `svar`.

[2016-05-12 14:06] josef-pkt commented on #2933
Ping @yogabonito  Did you start to look at how VAR is set up?

It might be useful to start with a single equation of a VAR/VECM both because we don't have anything yet that directly supports a single equation and because it looks like a good stepping stone for modelling the full system.

[2016-05-12 15:36] MartinMasH opened #2937 "statsmodels.tsa.stattools.adfuller regresults returning value has no description"
In http://statsmodels.sourceforge.net/devel/generated/statsmodels.tsa.stattools.adfuller.html in regresults description it says only "The"

[2016-05-12 15:42] josef-pkt commented on #2937
AFAICS `regresults` doesn't exist / is not returned,
this might have been a precursor to `resstore.resols`

[2016-05-13 12:25] TomAugspurger opened #2939 "SARIMAX get_prediction with simple_difference"
I'm a bit confused about the interaction between SARIMAX's `simple_difference` parameter and the results from `get_prediction`. Example notebook [here](https://gist.github.com/7c87c26542db41f094673cb3b30174a1) shows the issue.

Fitting a SARIMAX on the stata wpi1 dataset

[code]

My confusion comes from the `pred_s = res_s.get_prediction()` results. We transformed the dataset with simple differenc

[2016-05-13 12:59] josef-pkt commented on #2939
my guess (I haven't looked at the example)

Having the wrong date label looks wrong. If we have labels, then they should be for the actual date/index. Is there a reason, or is this a bug in attaching the index again?

for the rest, there should be options, e.g. ARIMA has `typ="level"`

[2016-05-13 13:35] josef-pkt commented on #2939
What's the reason for simple_differencing?  Is the "non-simple" differencing as part of the statespace model supposed to do the same.

AFAICS: prepare_data is changing/pre-processing endog and exog, but, most likely doesn't change the label/index in `.data`
predict is all inherited, and does not have the special code for the inverse transformation as does ARIMA.
Also, if the endog and exog in the

[2016-05-13 13:41] josef-pkt commented on #2939
(BTW: I will give a short presentation in 3 weeks with focus on ARMA/SARIMAX, so I'm interested this time to figure out some examples.)

[2016-05-13 13:51] TomAugspurger commented on #2939
I was going off of @ChadFulton's notebook [here](http://www.statsmodels.org/dev/examples/notebooks/generated/statespace_sarimax_stata.html) to estimate a seasonal ARIMA.
I think simple_differencing=False is generally preferable. I was just doing both to compare and was confused by the prediction output.

I think I agree with you that the mislabelling of points (forecasts being matched with the shi

[2016-05-13 14:11] josef-pkt commented on #2939
@TomAugspurger  thanks that notebook will be very helpful for me, especially given that I don't know a lot of pandas.

Right now I cannot run the examples because my statespace part in statsmodels is messed up. Most likely I didn't recompile after some changes.

It's up to Chad, but my impression is that it's not worth duplicating the retransformation code from ARIMA to SARIMAX given that non-simp

[2016-05-13 14:37] josef-pkt commented on #2939
(I will have to do the monthly or bi-monthly shutdown of open windows and running processes before Windows lets me recompile any extensions. So, no statespace examples for me today.)

[2016-05-13 16:59] ChadFulton commented on #2939
I agree that this is a bug with the date attachment, probably something in `prepare_data` that I missed when using simple differencing and a time series index. Thanks for the report! I'll track it down and get a PR to fix this issue.

[2016-05-13 17:22] ChadFulton commented on #2939
This PR should fix the issue. To make sure it's doing what you would expect: with the new code, you would not have to do the `shift(-12)` part in the last plot of your notebook. Is that what you expected?

Also, I checked against Stata and this PR makes the dates in line with their predict function.

[2016-05-13 17:26] TomAugspurger commented on #2939
Yep, and the `.shift(-12)` may have needed to bee a `.shift(-13)` since we had the non-seasonal `d=1` to go with the seasonal `d=13`. Just glancing at your PR, it looks like that should be good. Thanks!

[2016-05-13 17:29] yogabonito commented on #2933
Yes, I think now I have an overview of the VAR-related classes. This week I am going through VECM-theory. Next week, I plan to take a closer look on your PRs as well as VECM-implementations outside the Python-world (JMulTi, R, Stata).

[2016-05-13 17:48] josef-pkt commented on #2939
@TomAugspurger  general pandas question: Does pandas raise an exception if index and data array have different lengths?
Specifically, I would have expected and exception with the dates/index mismatch.

[2016-05-13 18:03] TomAugspurger commented on #2939
@josef-pkt generally yes. When using the `pd.Series()` or `pd.DataFrame` constructors the data array and index must have the same length. I haven't looked at the code, but I'm guessing it used a slice on the index and data like `:len(self.endog) - d - D`. So they're both the correct length, but that slice on the index needs to be shifted `d + D`.

[2016-05-13 18:07] josef-pkt commented on #2939
Thanks, The code for the wrapping is somewhere in base for data, I guess but didn't look. It could be that the generic data handling code uses a slice automatically to handle other cases/models.

[2016-05-13 22:10] ChadFulton commented on #2939
I won't have time this weekend to think about if it's possible to do something using the ARIMA transformation code (or something else) to easily get prediction in terms of the original data, but I'll take a look on Monday.

[2016-05-14 14:16] josef-pkt opened #2941 "SUMM/FAQ-D: optimization algorithms for complex objective functions"
What optimization algorithms are available if the objective function or/and estimating equations consist of several parts difficult parts?

I started to skim several articles that describe various optimization algorithms for general or specific multi-part objective functions. We are using some algorithms on a model specific basis, but I think we should eventually move to a more consistent, systema

[2016-05-14 16:59] josef-pkt opened #2942 "ENH: GMM/QIF(GEE) regularized weight matrix"
I don't see an open issue for this, and just found a statistics article for it for QIF-GEE

To get started: using principal components

Cho and Qu use principal components on a subset of moment conditions in estimating the correlation structure in GEE type models.
Cho, Hyunkeun, and Annie Qu. 2015. “Efficient Estimation for Longitudinal Data by Combining Large-Dimensional Moment Conditions.” Elect

[2016-05-14 18:00] josef-pkt commented on #2933
another reference, not read
looks like using spatial or other prior structure to get *network relationship* between large number of time series
Schweinberger, Michael, Sergii Babkin, and Katherine Ensor. 2015. “High-Dimensional Multivariate Time Series With Additional Structure.” arXiv:1510.02159 [Stat], October. http://arxiv.org/abs/1510.02159.

[2016-05-14 20:01] josef-pkt opened #2943 "SUMM: foward search variables and observations - high breakdown - ultrahigh screening"
(a mixed bag of issues, without overview or references for actual algorithms)
triggered by looking at some literature for robust transformation (box-cox issue and PR)
https://github.com/statsmodels/statsmodels/issues/1309#issuecomment-217048374
Atkinson and Riani have many articles but not a large number of citations. 2 articles below

two issues for both adding variables and adding observations

[2016-05-14 20:12] josef-pkt commented on #2943
(just remembered)

A strand of literature that uses distance measures for exog in- or outliers is for robust estimation in GLM, Logit/Probit, Poisson. That goes back to using weights based on inlyingness in exog space. It would work in a similar way to robustify RLM against influental observations.

[2016-05-15 01:02] josef-pkt opened #2944 "ENH: ultrahigh screening with SCAD or adaptive LASSO"
(where is my code, I don't see it in #2374, not committed anywhere?)

main references are Jianqing Fan and coauthors

the following two are very recent, and the Wang/Leng article seems to have a good updated algorithm, theory and references for it. I didn't look at the article yet.
(I was using mainly GLM/MLE models but I guess those results extend at least in local approximation.)

Wang, Xiangyu,

[2016-05-15 02:16] josef-pkt commented on #2943
Here is a recent paper by Doornik and Hendry which looks like a good overview of their approach (based on 10 second skimming)
Doornik, Jurgen A., and David F. Hendry. 2015. “Statistical Model Selection with ‘Big Data.’” Cogent Economics & Finance 3 (1): 1045216. doi:10.1080/23322039.2015.1045216.

[2016-05-15 03:04] josef-pkt opened #2945 "ENH: frailty models with penalization SCAD LASSO"
(just to park another reference at the moment)
related to #2374 penalized MLE Mixin

In the simulations SCAD outperforms LASSO and similar.

book chapter
Androulakis, Emmanouil, Christos Koukouvinos, and Filia Vonta. 2013. “Penalized Likelihood Methodology and Frailty Models.” In Statistical Models and Methods for Reliability and Survival Analysis, edited by Vincent Couallier, Léo Gerville-Réache,

[2016-05-15 13:18] bfcondon commented on #1306
This looks like it is addressed by #2240 and should be closed when it is merged.

[2016-05-15 14:02] josef-pkt opened #2946 "FAQ/ENH: limitation of predictive mean matching pmm"
http://statisticalhorizons.com/predictive-mean-matching

Morris, Tim P., Ian R. White, and Patrick Royston. "Tuning multiple imputation by predictive mean matching and local residual draws." BMC medical research methodology 14, no. 1 (2014): 1.
http://bmcmedresmethodol.biomedcentral.com/articles/10.1186/1471-2288-14-75

(There are a few related articles that I looked at a few weeks ago, but don't

[2016-05-15 14:48] josef-pkt opened #2947 "SUMM: unbalanced panel data, missing observation longitudinal - IPW"
(I didn't find an issue yet, but this got mentioned in several issues.)

In unbalance panels or longitudinal data, we can ignore the missingness only if it is completely at random MCAR, or exogenous.

If observations are misssing at random, i.e. we can model them based on additional explanatory variables, then one approach is to use weighting to adjust the estimation for MAR.
If only a few observa

[2016-05-16 16:43] josef-pkt opened #2949 "REF: decouple optimization from loglike, and/or add kwds"
just another idea for partial decoupling of loglike and optimization:

- add kwds/kwargs that are used in the optimization call to loglike/score/hessian
- check existing attribute before creating the lambda function for the optimization  (allow objective function to be defined in attribute of a model, or as string by method name)
   but avoid instance methods

usecase for first is setting options

[2016-05-16 16:48] josef-pkt opened #2950 "ENH: RLM add elastic net or fit_regularized"
Jianqing Fan is in recent articles mixes penalized estimation, variable selection with RLM Huber loss.

another application, IIUC
use RLM for variance or correlation estimation, with penalized LASSO or SCAD we can get robust sparse correlation and covariance matrices.

my guess is that RLM can use the same pattern as GLM.fit_regularized, after it get's offset, and maybe the the scipy optimizer.

[2016-05-16 17:09] josef-pkt opened #2951 "ENH: callback functions for generated regressors"
my guess is that this might be similar to regression trees, but I never looked at those details.

The basic idea: We want to select variables from a large possible list. Explanatory variables are generated from a smaller set of existing variables. Instead of creating all variables at once, we create them on the fly.

For large sparse VARs we need to create lagged variables.
In large dummy sets we

[2016-05-16 18:10] yogabonito commented on #2933
Thanks Josef, for these resources. I'm afraid I won't be able read them all in detail before coding starts. But I will try to get an overview such that I know were to find the information needed during the coding phase.

[2016-05-16 19:34] josef-pkt commented on #2933
@yogabonito I don't think you need or should include large sparse VAR in your project, there is enough work without it.
But if you start with or add support for a single equation of VAR and VECM, then it will be useful for your project and might add large parts of what will be needed for large sparse VAR.
(single dependent variable, but all the lags of the variables as regressors.)

[2016-05-16 23:38] josef-pkt commented on #2951
Here is an article that does this (most likely I looked at it last year based on the abstract)

Hao, Ning, and Hao Helen Zhang. 2014. “Interaction Screening for Ultrahigh-Dimensional Data.” Journal of the American Statistical Association 109 (507): 1285–1301. doi:10.1080/01621459.2014.881741.

[2016-05-16 23:48] josef-pkt commented on #2944
this looks interesting
HONG, HG, L. WANG, and X. HE. "A data-driven approach to conditional screening of high dimensional variables."   http://www.stt.msu.edu/users/hhong/manuscript_052215.pdf
they compare in the simulation with some of the other screening criteria and have one case where ISIS with plain correlation does pretty badly.
they start with a PCA to get an initial conditioning set.

Note

[2016-05-17 00:19] josef-pkt commented on #2944
this looks like a useful recent overview, including different base models (includes GLM)

Liu, JingYuan, Wei Zhong, and RunZe Li. 2015. “A Selective Overview of Feature Screening for Ultrahigh-Dimensional Data.” Science China Mathematics 58 (10): 1–22. doi:10.1007/s11425-015-5062-9.

[2016-05-17 16:22] wehlutyk opened #2952 "Hurdles in building the docs"
I had a few problems building the documentation while preparing #2953:
* when starting from a clean virtualenv, after `pip install numpy`, `pip install -e .`, and `pip install -e .[docs]`, I still need to manually install `jupyter_client`, `ipykernel`, and `matplotlib` for the build to run completely.
* building the docs spits out thousands of `SEVERE: Unexpected section title.`; this happens when

[2016-05-17 16:41] TomAugspurger commented on #2952
nbcovert 4.2 wasn't released when I overhauled the doc build system a couple months back. It'd be good to pin that version along with adding jupyter_client, ipykernel, and matplotlib in the `setup.py`.

I'm getting the section header warnings as well.

For the last one, that's nbconvert letting you specify the kernel. I'll see if we have something to change.

[2016-05-17 16:45] josef-pkt commented on #2952
@wehlutyk  What sphinx version are your using? It needs the most recent because the few previous once had bugs for docstring standard, AFAIR.

[2016-05-17 16:54] wehlutyk commented on #2952
Thanks all for the swift responses!

@josef-pkt Sphinx 1.4.1 which came from `pip install -e .[docs]` I think. Here's the output of `pip freeze` in my virtualenv (python 3.5):

[code]

[2016-05-17 16:59] josef-pkt commented on #2952
sphinx 1.4.1  That's a fast increase in sphinx version numbers
the last one I used was 1.3.5 which looked better than the once before that
https://github.com/statsmodels/statsmodels/issues/2312#issuecomment-183772053

[2016-05-17 18:11] TomAugspurger commented on #2952
Whoops, looks like I forgot to include `numpydoc` in the `docs/source/conf.py` spihnx extensions. Added that and the section headers show up. I'll send along a PR tonight.

[2016-05-18 02:28] josef-pkt commented on #2895
I'm adding a comment here instead of pull request #2953 that mentioned the reference

I read through Hou, Chiang, & Tai (2003):
I don't think it's a likely candidate to implement, it's a bit strange, sounds expensive, and they don't state whether their capital lambda interval is always nonempty (i.e. for -1 <= lambda <=2). And the article doesn't have many citations.

The "strange" part is that ch

[2016-05-18 03:46] josef-pkt commented on #2895
A bit different setting but it explains simultaneous bootstrap confidence intervals with multinomial sampling (e.g. bootstrap-t confint):
Tang, Nian-Sheng, Shi-Fang Qiu, Man-Lai Tang, Guang-Yong Zou, and Dan Yu. "Simultaneous Confidence Intervals of Risk Differences in Stratified Paired Designs." Journal of biopharmaceutical statistics 23, no. 2 (2013): 361-377.

and here is an interesting note, t

[2016-05-18 08:32] wehlutyk commented on #2895
Wow, I'd need to do a lot more reading to get through this correctly (and [the](https://github.com/statsmodels/statsmodels/pull/2953#issuecomment-219789514) [comments](https://github.com/statsmodels/statsmodels/pull/2953#issuecomment-219792805) in #2953)! I'm going to follow the discussion on MC methods from afar for now, and will chip in (ev. with implementations) if I get more free time in the f

[2016-05-18 14:55] josef-pkt opened #2955 "SUMM/FAQ-D: simultaneous confidence intervals"
(another missing piece in hypothesis testing plus everything. And I don't have an overview of theory, approaches, ...)

How can we construct simultaneous confidence intervals for several parameters?
Can we use exact or Monte Carlo probabilities or bootstrap to get better small sample results?
How do we choose the shape of the confidence region?

(triggered by this https://github.com/statsmodels/st

[2016-05-18 16:04] josef-pkt commented on #2955
another article to follow up upon, I don't know details of the actual implementation but general approach and references look like a good starting point.
(risk differences in stratified paired observations will be somewhere in the two-sample proportion case)

("MOVER" confidence intervals)
compares among others methods combination of bootstrap percentile or bootstrap percentile-t with Wilson score

[2016-05-18 18:08] josef-pkt opened #2957 "ENH: FDR based confidence intervals"
just a reference (I didn't read anything)

companion to #2955 simultaneous confidence intervals

We want to get the confidence interval corresponding to hypothesis tests and p-values.
The same can be applied to p-value correction for multiple testing.

Here is an article with the FDR multiple confidence intervals

Benjamini, Yoav, Daniel Yekutieli, Don Edwards, Juliet Popper Shaffer, Ajit C. Tamha

[2016-05-18 21:36] josef-pkt commented on #2743
confidence interval for matched-pairs

this looks like a good collection, including simultaneous confidence intervals for stratified matched pairs (see #2955)
Tang, Nian-Sheng, Hui-Qiong Li, and Man-Lai Tang. 2010. “A Comparison of Methods for the Construction of Confidence Interval for Relative Risk in Stratified Matched-Pair Designs.” Statistics in Medicine 29 (1): 46–62. doi:10.1002/sim.3744.

[2016-05-19 14:04] mhooreman opened #2958 "seasonal_decompose deprecation warning from numpy"
Hello,

It seems that seasonal decompose suffers of a deprecation warning coming from numpy.

It can be reproduced using the example documented here: http://statsmodels.sourceforge.net/0.6.0/release/version0.6.html#seasonal-decomposition:

The code:

[code]

Results in:
[code]

Versions:
- Numpy: 1.11.0  (latest from pip)
- Statsmodels: 0.6.1 (latest from pip)
- Python: 3.5.1 (manually compiled on

[2016-05-19 18:52] lorentzenchr opened #2959 "DOC: Improve documentation about glm"
The documentation about Generalized Linear Models is not very detailed. As is the case in the chapter about linear regression, one could specify the underlying stochastic model, e.g. Y ~ ExpFamily, and then specify the exponential family. The docu just states: "Generalized linear models currently supports estimation using the one-parameter exponential families".

In short: Some more formulas would

[2016-05-19 19:55] josef-pkt commented on #2959
PRs and improvements would be very welcome and appreciated.

It's a lot of work to write documentation, and even more so vignette length versions.

In the case of GLM essentially everything is standard, and any textbook and maybe Wikipedia provides the relevant formulas.
(I'm looking mostly at SAS and SPSS technical documentation or the source, when I want to see the actual formulas for different

[2016-05-20 08:27] innisfree opened #2960 "Weighted KDE doesn't seem to work"
I noticed that the weights options for nonparametric.KDEUnivariate seems to be ignored. Here is a MWE.

[code]

![figure_1](https://cloud.githubusercontent.com/assets/3758193/15421749/4f3b4936-1eb8-11e6-814f-62044601ede7.png)

As you can see, the Gaussian weights are ignored, resulting in a uniform distribution. Am I calling the function in the wrong way?

[2016-05-20 13:18] josef-pkt commented on #2959
Actually, for the parameter estimation the only things that are relevant are the link function for mean and the variance function for weighting observations, and the implied constraints on the support/domain of the response.
I think I've seen a nice table for this in the documentation of some other package.

family/distribution are relevant if we want to have full MLE interpretation, e.g. loglike,

[2016-05-20 14:11] 00tau opened #2961 "'MixedLMResults' object has no attribute 're_params'"
In difference to the documentation [1] the class MixedLMResults has no attribute re_params.

[code]

I am using version

[code]

Minimal example

[code]

where dat is a DataFrame which looks as follows

[code]

How do I get the random effects parameters? I am in particular interested in estimating the intraclass correlation. If you already happened to code this somewhere, let me know!

Cheers,
Tho

[2016-05-20 14:18] kshedden commented on #2961
Hello Thomas,

Does rfit.random_effects work for you?

MixedLM is fairly new and we made some major modifications about a year ago
when we added support for variance components.  If possible it would be
better to use the code from statsmodels master on github.

Kerby

On Fri, May 20, 2016 at 10:11 AM, Thomas W. D. Möbius <
notifications@github.com> wrote:

[2016-05-20 14:24] thequackdaddy commented on #2961
I was able to replicate his error master.

[code]

[2016-05-20 14:26] kshedden commented on #2961
I don't remember the history on this but I think at some point we switched
from re_params to random_effects.  We probably just need to update the docs.

Kerby

On Fri, May 20, 2016 at 10:24 AM, Peter Quackenbush <
notifications@github.com> wrote:

[2016-05-20 14:49] thequackdaddy commented on #2959
Josef,

Can you discuss your argument that the only things that are relevent for parameter estimation are the link and variance function?

I get what you are saying, but I've always been under the impression that that variance function is part of the family for most GLMs. Take page 95 of [this](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwivm-b68ejMAhUD

[2016-05-20 17:09] josef-pkt commented on #2959
@thequackdaddy  The way the estimator and the variance function are derived and are implemented is through the family.
However, like in OLS/WLS properties of the family/distribution other than expected response (mean function) and variance don't show up in the estimating equation.
And interpreted as Quasi-MLE, the mean parameter estimates are consistent if the mean function is specified, and the a

[2016-05-20 19:02] josef-pkt commented on #2959
nice exercise that I haven't tried, but I tried something similar:
use GLM with gaussian family and log link for a nonnegative response and override the variance function to be var = mean, i.e. Poisson.
I think the parameter and scale estimates should be exactly the same as over- or underdispersed GLM with family Poisson.
(There is currently no option to change the variance function, but it's poss

[2016-05-21 02:35] 450586509 commented on #821
thank you so so so much!

[2016-05-21 21:42] thequackdaddy commented on #2958
Hello,

I'm a small contributer to statsmodels--and know far less than other people around here--but the official version on pip and conda are quite old compared to what's in master. This code seems to run fine (with no errors) on my Anaconda 4.0.0, python 3.5.1 windows machine.

[code]

[2016-05-22 03:58] josef-pkt opened #2963 "REF/ENH: PHReg cov_type"
(Found while browsing the code for #2924)

PHReg currently defines two cov_types `nonrobust` and `cluster` (AFAICS) but it doesn't use the standard keywords. Also it could reuse the existing code.

Stata has nonrobust, robust (HC0 or HC1) and cluster robust, plus bootstrap, ... For cluster robust it seems to default to the usual number of cluster correction that can be turned off.

I guess we shou

[2016-05-22 15:41] josef-pkt commented on #2958
@thequackdaddy  thanks for checking

AFAIR, this was among the compatibility fixes that were made a few months ago.

[2016-05-22 15:41] #2958 closed

[2016-05-23 16:10] mhooreman commented on #2958
Thanks.

What are the plans to release it to pip? I use it on a production server,
and so I'm hesitating a lot before installing a non released version.

Best regards.

2016-05-22 17:41 GMT+02:00 Josef Perktold <notifications@github.com>:

--

Michaël Hooremanmichael@hooreman.be - http://www.hooreman.be

[2016-05-23 17:28] cycourtot commented on #2745
@josef-pkt I also agree with @RedPandaHat I use the rolling OLS quite a lot. I couldn't get rolling_apply to work for some reasons. (It felt like it was applying the function to each columns of my DF independently).

[2016-05-24 05:04] ChadFulton opened #2965 "DOC: State space documentation out of date."
- [ ] due to #2814, now the example AR2 example fails because `update` requires the `complex_step` argument.

[2016-05-24 10:32] 00tau commented on #2961
Given the random one-way ANOVA model of the example:
  y_ij = μ + μ_i + ε_ij  with  μ_i ~ N(0, λ^2)  and  ε_ij ~ N(0, σ^2)

I am looking for the variance estimates of λ^2 (often called the homogeneity) and σ^2 (variance of the residuals). The `rfit.random_effects` gives me the estimates of the μ_i. It seems to be that σ^2 = `result.params[-1:]`. Is this correct? How do I get an estimate of λ^2?

P

[2016-05-24 12:05] 00tau opened #2966 "BUG: Function anova_lm gives unexpected/wrong results"
From reading the docs [1], I assume that anova_lm implements the so-called 'general linear test approach', i.e., when I would like to test against a hypothesis that involves one or more model parameters to be not null, I define a *full* model and test this model against a *restricted* version, where all of these parameters are null. The example of the docs is applying this approach when testing fo

[2016-05-24 12:18] josef-pkt commented on #2966
Can you check what result you get if you replace division by `reduced.ssr` with division by `full.ssr`?

IIRC it should use the full or largest ssr in  the denominator.

This is based on a quick look. If that's not the reason, then I need to look more closely later today.

[2016-05-24 12:35] kshedden commented on #2961
Below is an example that illustrates how this works.  The ``scale`` value given in the top of the summary output, or as `result.scale` is the variance of the independent error terms (epsilon in your notation).  In the summary output below, ``Group RE`` is the variance of the group random effect (a.k.a. random intercept, lambda^2 in your notation).  MixedLM uses a reparameterized likelihood interna

[2016-05-24 12:38] kshedden commented on #2961
Just a note that I'm getting an error on master when I run ``result.random_effects`` in the above examples.  It looks like the names are not being set.

[2016-05-24 13:16] 00tau commented on #2966
You have remembered the formula correctly ... sorry for the fuss.

[code]

[2016-05-24 13:19] 00tau commented on #2966
Just realised that this still doesn't yield the correct result!

[2016-05-24 13:22] #2966 closed

[2016-05-24 13:25] josef-pkt commented on #2966
What's the conclusion? Why the last discrepancy?
given that you closed it again

[2016-05-24 13:27] 00tau commented on #2966
I typed to fast. I do get the same f-statistic but a different p-value.

[2016-05-25 03:44] napsternxg opened #2968 "Incorrect implementation of confusion matrix in pred_table for Logit model"
The confusion matrix given by the pred_table() function gives the incorrect value. E.g.

[code]

Outputs the following:
[code]

This output is wrong on multiple accounts:
* Given that label 1 is considered true and label 0 is considered false:
[code]
* The correct predictions for each class should fall on the diagonal, however, in this case the correct predictions appear to be on the off diagonal.

[2016-05-25 07:21] 00tau commented on #2961
Thanks for the explanation of the summary output. I can see why you call the residual variance 'Scale', but I wouldn't have guessed it. To summarise: `result.scale` and `result.cov_re` are my friends instead of `result.params`.

I have realised that `result.cov_re` in your example is either a pandas.DataFrame or numpy.ndarray depending on whether y is a pandas.Series or a numpy.ndarray. This means

[2016-05-25 10:51] erblast opened #2969 "statsmodels.stats.proportion.py def proportions_ztest() line 577 version 0.6.1"
statsmodels.stats.proportion.proportions_ztest()  version 0.6.1

Issues:
i) In the present form line 577 of statsmodels.stats.proportion.py does not comply with what is stated in the docstring for the case of the two sample z-test.
        In the case of a two-sample test, the
        null hypothesis is that prop[0] - prop[1] = value, where prop is the
        proportion in the two samples

ii) Fu

[2016-05-25 12:14] kshedden commented on #2961
I don't understand the wrappers that handle type conversions of return values very well.

@josef-pkt -- should `result.cov_re` always be a data frame?

[2016-05-25 12:41] josef-pkt commented on #2969
It looks like there is a default `value=0` missing, i.e.
[code]

looks like currently `value` is a required argument, current unit tests use `value=0` for two sample case

@erblast Thanks for reporting

[2016-05-25 12:52] josef-pkt commented on #2961
about the pandas wrapper.
in general:
numpy in -> numpy out
pandas in -> pandas out

this uses pandas if at least one of endog or exog is a pandas object IIRC.
(there could be other data types also, but I think we only have numpy and pandas fully supported right now)

The advantage of returning numpy ndarrays is for users that don't use pandas directly, and for us when we use a model as internal t

[2016-05-25 13:18] josef-pkt commented on #2968
@napsternxg  Thanks for reporting

Yes, that's a bug, which AFAICS causes problems when a row or column is zero.
The method just uses numpy histogram2d with bins=2, which produces the wrong bin limits if there are not both zeros and ones

[code]

to fix this, I think it should be enough to use explicit bin boundaries

[code]

I think using the threshold in the bin directly would make the 0-1 predi

[2016-05-25 13:22] josef-pkt commented on #2968
Based on browsing the unit tests, test coverage for pred_table looks good. So, this problem might be only in this (untested) edge case.

@napsternxg  Do you want to prepare a PR with the fix and your example as unit test?

[2016-05-25 17:09] napsternxg commented on #2968
@josef-pkt
I can prepare a PR and send by next week. However, I think we can use sklearn's API for creating the confusion matrix which will make it more consistent for users coming form ML background. I think in Issue #1650 there was already discussion to some code from sklearn api for doing this.

Another option would be explicitly construct the Confusion matrix in the format such that the diagon

[2016-05-25 17:43] josef-pkt commented on #2968
the problem is that any refactoring or enhancements will need decisions and review, while fixing the current implementation for the edge case with unit test can be merged right away.

I think histogram usage is quite fine, as long as it has explicit intervals. It's a common usage for counting a binned continuous variable.

Extensions along #1650 would be a good contribution, of course, but I'm not

[2016-05-26 08:04] #2961 closed

[2016-05-26 09:31] 00tau commented on #2966
Just a note for why I got a different p-value in the example. The discrepancy in p-values appears as for large f-test values the survival function and '1-cdf' are not numerical  equivalent for large 2nd-degrees of freedom.

[code]

[2016-05-27 11:52] CrystalCastle92 opened #2970 "@.tsa.statespace.MLEModel Param bug: unexpected keyword arg complex_step"
Hey i've fixed the issue locally (as in my application i am not passing this param) but complex_step is not a guaranteed arg yet is not checked for in the below modified method call, hope this helps.

version 0.8.0

mlemodel.py @640
        # NM: here i go dicking around in base code ....
        # self.update(params, transformed=True, complex_step=complex_step) complex_step is not guaranteed

[2016-05-27 15:10] josef-pkt opened #2971 "glmnet elastic net - warm start ?"
Just a thought, I don't want to check right now

Does GLM elastic net use warm start on weights for irls?

and a glmnet related stats.stackexchange question with link to scikit-learn issue
http://stats.stackexchange.com/questions/100672/possible-to-evaluate-glm-in-python-scikit-learn-using-the-poisson-gamma-or-twe/214159#214159

[2016-05-27 16:25] ChadFulton commented on #2970
Thanks for the bug report! I can't duplicate it though, can you give an example? Based on the if-else block above, it looks like `complex_step` should always be set.

[2016-05-27 16:47] kshedden commented on #2971
If you mean the new elastic net merged recently, we don't use IRLS at all there and therefore probably can't handle weights (since I don't think the log likelihood, score and hessian functions take weights, although I could be wrong there if work has been done recently).

There is some warm start behavior in an old PR #1529 for generating solution paths.

[2016-05-27 17:09] josef-pkt commented on #2971
Thanks, it was a random thought while trying to sort piles of papers and add a comment to the scikit-learn issue advertising our glmnet and tweedie.

I meant the internal irls weights, but didn't remember that irls is not used. So far only frequency weights are in master for GLM.

Do you have a rough idea how the speed of our glmnet is compared to R's?

[2016-05-27 18:30] kshedden commented on #2971
Quick timing check:

Statsmodels:

[code]

R

[code]

I think that means 0.004 seconds for R, 0.2 seconds for Statsmodels, thats 50x slower.  First question is whether we are doing more iterations.

[2016-05-27 19:33] josef-pkt commented on #2971
However, glmnet is about 3/4 written in Fortran, so we might eventually need a streamlined version in cython for some common cases.

I didn't look close enough at the implementation details to guess at the amount of slack in our version.

[2016-05-27 23:05] agartland commented on #106
@josef-pkt after trying to wrap my head around the parameterization myself, finding the above was very useful! Thanks. Did something like `get_distribution` ever make it into GLM result objects? Its very helpful to have an `rvs` for diagnosing a fit

[2016-05-27 23:30] josef-pkt commented on #106
@agartland  As far as I know it hasn't been merged systematically, and not for negative binomial.
The MICE version that was merged, uses PMM predictive mean matching which doesn't use get_distribution, AFAIR.
(I think I saw a get_distribution somewhere else in the code some time ago but don't remember.)

I wrote a simulate_tweedie function recently so that I was able to experiment with data that I

[2016-05-28 14:51] kshedden commented on #2971
The gap drops to around 20x for larger problems (100K x 30).  Also, it appears that the number of internal iterations in the coordinate ascent is similar.

The main overhead is likely that we create a new model instance for each variable within each iteration.  So with 30 variables and 10 iterations (as in my test case), we have to create 300 model classes.

[2016-05-28 20:33] kshedden commented on #2971
Setting `hasconst=False` avoids the SVD calls and reduces the gap to 10x for large problems.  I will PR this improvement.

[2016-05-30 04:26] josef-pkt commented on #2969
see also #2734 and #2779

[2016-05-30 04:29] josef-pkt commented on #2176
bump, and prio-high

description and todo's need updating

[2016-05-30 14:41] #2952 closed

[2016-05-30 16:51] josef-pkt commented on #2735
followup to merge of #2935  unit tests and check minlike versus central for the proportion_confint

[2016-05-30 16:56] josef-pkt opened #2973 "TST MultiComparison check if only two groups"
followup to #2948 bugfix for 2-sample case

It looks like two sample special case is not sufficiently unit tested.

[2016-05-30 18:39] josef-pkt opened #2975 "DOC: link to What's new"
AFAICS, there is no link from the documentation (of a version or devel) to the release notes "What's new" page
http://www.statsmodels.org/dev/release/index.html

It's linked from the top level, but that doesn't exist yet in the new www.statsmodels.org pages on github
(which currently redirects to stable http://www.statsmodels.org/stable/index.html )

I think it's better to add a link on the main T

[2016-05-30 19:24] josef-pkt commented on #2176
do we combine 0.7-0.8 release notes / what's new or do we make two .rst files?
https://github.com/statsmodels/statsmodels/blob/master/docs/source/release/version0.7.rst

[2016-05-30 19:26] bashtage commented on #2176
Simplest would be to have two notes and just make one addition to the 0.7 notes that says it was never released on PyPi.

[2016-05-30 19:30] #2681 closed

[2016-05-30 20:57] josef-pkt commented on #2176
Thanks Kevin, I started the 0.8 rst file.

[2016-05-30 21:13] bashtage commented on #2176
Which of the prio-high are actually essential before a release?  At least one doesn't seem important (ADF memory use).  Would be helpful to choose those that are actually, truly essential for a release.

[2016-05-30 21:25] thequackdaddy commented on #2176
If I may interject, I'd also like to get #2803 merged... haven't looked at it in a few months, but its a problem for me. (My workaround has been to limit SM to 10 iterations, but even that is excessive.) Otherwise, on larger datasets (biggest one I've used is 3.5 million records with about 25 coefficients) IRLS won't converge.

My elementary knowledge of python/scipy/numpy has improved rather dram

[2016-05-30 21:34] josef-pkt commented on #2176
My guess is that at least 2/3 of all prio-high are not essential. On the other hand there are also some urgent ones missing.

the fix for usage limitations can be postponed in many case
for example, I was looking at "BUG: ARIMA exog_names expands in each fit. #1691" which is clearly a bug, but the solution is "don't do that" (don't call fit with different trend arguments with the same model), and

[2016-05-30 21:46] josef-pkt commented on #2176
I moved some to milestone 0.9, so we can ignore them for now.

#1301 and related: The starting values for ARMA estimation are pretty bad, and it would be good if we get at least a "halfway" solution into 0.8, even if it still doesn't cover some cases.

date and datetime handling for ARIMA predict is a frequently encountered bug/limitation. But it's a bit messy and I don't know if we can fix it fas

[2016-05-30 21:53] josef-pkt commented on #2666
closing, should be fixed, we haven't seen a problem anymore

thanks @PierreBdR

[2016-05-30 21:53] #2666 closed

[2016-05-30 21:58] josef-pkt commented on #2554
I think we can close this, should be all done with #2566 and earlier fixes

[2016-05-30 21:58] #2554 closed

[2016-05-31 03:20] josef-pkt opened #2976 "FAQ/BUG: segfault in matplotlib with vector_ar and others"
this test segfaults for me consistently when running the tsa test suite
`statsmodels.tsa.vector_ar.tests.test_var.TestVARResults.test_plot_cum_effects`
latest WinPython with python 3.4.4, `WinPython-64bit-3.4.4.2` which has matplotlib 1.5.1
Windows 8.2

VAR is all in Python, so there shouldn't be a segfault from our side.

(Before that I got a "kernel died" in the notebook that I'm preparing, but

[2016-05-31 17:06] thequackdaddy opened #2977 "BUG: self.history in GLM doesn't seem like it does anything..."
Hello,

The `history` attribute in GLM doesn't seem like it really does anything. It seems like what's happening is that the history is created by each of the district `fit` methods.

See this line of code:
https://github.com/statsmodels/statsmodels/blob/master/statsmodels/genmod/generalized_linear_model.py#L291

You can uncomment it all and GLMs seem to work just as before. A few tests fail when

[2016-05-31 17:26] josef-pkt commented on #2977
https://github.com/statsmodels/statsmodels/blob/master/statsmodels/genmod/generalized_linear_model.py#L989

`history` is used in the convergence check in fit_irls. it checks the last element in the list,
At least, that is what it is supposed to be doing.

It's also available as a results attribute, AFAIR, so we can check the history of irls optimization.
https://github.com/statsmodels/statsmodels/

[2016-05-31 17:33] thequackdaddy commented on #2977
Sorry I wasn't clear.

The `history` that is defined in `GLM` in the `initialize` section appears to be ignored in the `fit_irls` section. There, `history` is created as a new dict, totally independent of the one in the ` `GLM` instance. That new `history` is later saved as part of the model result. The original history, in the model, is totally disconnected.

[2016-05-31 17:49] josef-pkt commented on #2977
Ok, my guess is that the part in initialize with `self.history` is a an orphan because of the refactoring
https://github.com/statsmodels/statsmodels/commit/9cb2a022040e96472c68e136027ab09c5b702ab1

We try to avoid having fit specific information attached to the model. So using history and attaching it to the results instance is cleaner.
It looks to me we can remove it from `initialize`, but we nee

[2016-05-31 17:51] thequackdaddy commented on #2977
Sounds good.  I think this is just an inconvenience... Not major by any stretch. Just I decided to put some time back into the convergence issue I had before and this confused me for a bit.

[2016-06-01 16:53] harrymvr commented on #2299
Just a reminder that the documentation the seasonal decomposition is still not part of the main documentation. It's a simple fix I assume, and of high priority. People should not have to look at the code to figure out how to call a function.

[2016-06-02 01:44] josef-pkt opened #2982 "BUG: ARMA predict with dynamic and constant breaks"
I'm in the middle of an example
ARMA with seasonal dummies and with default trend (constant)

It looks like dynamic predict, does not take into account that the model has added a constant.
not specifying exog raises an exception in concatenation.

using the model exog explicitly raises the same exception

dropping the constant column (first column of exog) works, and based on the plot it looks cor

[2016-06-02 04:12] DeliciousHair opened #2983 "Cannot insantiate md.tsa.kalmanf.kalmanfilter.StateSpaceModel"
[code]

I only just 'discovered' this module today, so sorry if this is a really dumb question but...

To help understand the ins and outs of this module I have been looking at `statsmodels/statsmodels/tsa/kalmanf/kalmanfilter.py`, and discovered this:

[code]

which ends up failing exactly as I would expect it to (MWE):

[code]
Which leads to the error:
[code]

Am I totally missing something here

[2016-06-02 04:51] josef-pkt commented on #2983
Note, this is the old version of the kalmanfilter and it is only used for ARMA/ARIMA, and AFAIK has never been really generalized.

The new version which is a very general framework for linear statespace models and with several models already on top of it, is not in the 0.6.1 release, and you would need to use master.
documentation is here http://www.statsmodels.org/dev/statespace.html
some exampl

[2016-06-02 04:53] DeliciousHair commented on #2983
Ah, OK--upgrading to master now and leaving this confusion behind :-)

Thanks!

[2016-06-02 04:53] #2983 closed

[2016-06-02 05:49] anuragladdha-fk opened #2984 "TypeError in fit() of Arima model"
With following sample below:

import statsmodels.tsa.arima_model

t = [52,45,32,56,78,28,19,81,53,49]
s = [1,0,0,0,2,0,0,3,0,1]
u = [0,1,0,3,2,0]

a = statsmodels.tsa.arima_model.ARIMA(t, [2,0,1], s)
model = a.fit()
print model.forecast(6, u, 0.2)

**I am getting following error when a.fit() gets executed**
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/osbo

[2016-06-02 11:23] josef-pkt commented on #2984
based on the traceback, the endog is not automatically upcast to float.

So you need to convert the data arrays, mainly `t` in your example to float64.

[2016-06-02 12:42] anuragladdha-fk commented on #2984
Works now. Thanks much.

[2016-06-02 17:42] bashtage commented on #2672
@josef-pkt I think this is fixed now.

[2016-06-02 17:43] bashtage commented on #2668
@josef-pkt This is fixed now.

[2016-06-02 17:43] bashtage commented on #2670
@josef-pkt This is fixed now.

[2016-06-02 18:15] bashtage commented on #974
@josef-pkt Not needed since this is better implemented in pandas

[2016-06-02 18:19] bashtage commented on #2336
IMO continuing this is not a worthwhile cause since pandas and pandas-datareader are much more maintained and heavily tested.

Should be closed.

[2016-06-02 18:21] bashtage commented on #2694
@josef-pkt @ChadFulton This should be closed - not an issue with master on Travis.

[2016-06-02 18:22] bashtage commented on #1568
@josef-pkt This can be closed.  The tests have become faster (better HW on travis?) and the list has changed. There are other issues, like `regularization` tests getting stuck, but when this doesn't happen timeouts seem rare.

[2016-06-02 18:22] #1568 closed

[2016-06-02 18:23] ChadFulton commented on #2694
Thanks!

[2016-06-02 18:23] #2694 closed

[2016-06-02 18:27] #2336 closed

[2016-06-02 18:49] bashtage commented on #2536
@josef-pkt I think this is fixed now

[2016-06-02 18:50] bashtage commented on #2528
@josef-pkt This is no longer relevant since travis is using docker

[2016-06-02 18:51] #974 closed

[2016-06-03 07:58] Leoyzen commented on #2893
@ChadFulton I got some problem with the variance initialization of the model, can u plz have a look?

[2016-06-03 20:21] #2668 closed

[2016-06-03 20:22] josef-pkt commented on #2670
@bashtage   Thanks for the triage of issues

closing

[2016-06-03 20:22] #2670 closed

[2016-06-03 20:23] josef-pkt commented on #2672
The problem did not show up anymore. We can open a new issue if there are still some version combinations that cause problems.

closing

[2016-06-03 20:27] josef-pkt commented on #2536
I don't remember what solved the specific problem.
The main speedup in TravisCI was Skipper's #2739

[2016-06-03 20:27] #2536 closed

[2016-06-03 20:28] josef-pkt commented on #2528
fixed in #2739

[2016-06-03 20:28] #2528 closed

[2016-06-03 20:29] #2672 closed

[2016-06-04 02:56] josef-pkt commented on #2907
@kshedden   Can you skip this unit test on older scipy version similar to the other ones that cause problems with those versions?

one out of every few TravisCI test runs hangs on the `TestMixedLM.test_regularized` test but only on the python 2.7 with scipy 0.12 version (numpy 1.7)

[code]

[2016-06-06 08:54] bashtage commented on #2630
@josef-pkt This should be dropped in favor of pandas `describe`.  Not worth fixing.

[2016-06-06 08:57] bashtage commented on #2493
@josef-pkt This is fixed in PR #2988

[2016-06-06 09:34] bashtage commented on #1407
@josef-pkt Looks like this should be closed

[2016-06-06 11:37] bashtage commented on #1085
@josef-pkt This seems quite old and likely fixed.

[2016-06-06 12:20] josef-pkt commented on #1085
I don't have problems with mingw in the default setup of Winpython, at least for compiling for python 3.4, and 2.7.

closing as outdated

Thanks @bashtage

[2016-06-06 12:20] #1085 closed

[2016-06-06 13:29] josef-pkt commented on #282
searching the source, I see 6 `UserWarnings` left in module code, none in the main models.

we don't yet have a generic `StatsmodelsUserWarning` for cases that don't fit a specific Warning.

[2016-06-06 13:29] josef-pkt commented on #282
Do we have documentation or a FAQ for statsmodels Warnings?

[2016-06-06 14:27] josef-pkt commented on #1407
The merged fix in #1414  only disables the unit tests, but doesn't fix the underlying API inconsistency.

I'm closing this (for test failures), but added a link to this issue in #2183 SUMM issue

[2016-06-06 14:27] #1407 closed

[2016-06-06 16:00] phobson commented on #2183
Also note that we could move mpl-probscale into statsmodels:
http://phobson.github.io/mpl-probscale/

[2016-06-07 12:53] springcoil opened #2990 "How far is a release of 0.7.0 away?"
Just a general question - how far is a release of 0.7.0 away?

[2016-06-07 14:21] bashtage commented on #2990
Skipping 0.7.0 and going to 0.8.0.  When 0.8.0 happens is another question...

[2016-06-07 14:23] bashtage commented on #2747
@josef-pkt Looks like this can be closed

[2016-06-07 15:45] springcoil commented on #2990
Can someone answer that one?

[2016-06-07 15:47] bashtage commented on #2990
Only @josef-pkt knows.

[2016-06-07 15:51] bashtage commented on #1633
@josef-pkt This is fixed.

[2016-06-08 14:02] bashtage opened #2995 "BUG: Missing china smoking data .csv file"
The csv file for the china smoking data is not in the repo.

Found doing doc fix-ups.

Any ideas? @kshedden @josef-pkt

[2016-06-08 17:40] josef-pkt commented on #2995
I don't know,
The dataset was part of the contingency table PR #2418  but AFAICS the csv file was not added.

[2016-06-08 19:25] AshishBora opened #2998 "Unused variable maparam"
maparam defined in [3] [here](http://statsmodels.sourceforge.net/stable/examples/notebooks/generated/tsa_arma_1.html) seems unused.

Possible intended usage is
`maparams = np.r_[1, maparams]`

[2016-06-09 08:06] gmanser commented on #2970
I had the same problem when using tsa.statespace.MLEModel -> TypeError: update() got an unexpected keyword argument 'complex_step'

The error occurs when working through these examples:
The AR(2) example here: http://www.statsmodels.org/dev/statespace.html

Bayesian example here: http://pages.uoregon.edu/cfulton/posts/state_space_mh.html

But not this example:
Local linear trend: http://www.statsm

[2016-06-10 14:04] #2995 closed

[2016-06-10 15:12] #1658 closed

[2016-06-10 15:12] #2430 closed

[2016-06-10 17:08] josef-pkt commented on #2998
It took me a long time to figure out what you mean: missing `s` in `maparams`

Yes, that's a typo.

The process is still an ARMA, and however ARMA(2, 1)
sd of innovation 0.65, and ma coefficient 0.54 which is close to the results in the summary

Thanks, do you want to open a PR to fix it?

[2016-06-10 17:14] josef-pkt commented on #1633
I added verbose to find which tests are slow or hanging on travis. But it is pretty useful so we keep it.
(The only disadvantage of verbose is that we don't get a quick overview of test noise and warnings.)

[2016-06-10 17:14] #1633 closed

[2016-06-11 17:40] josef-pkt commented on #2342
related issue that might help also here:
#2933 large sparse VAR when the underlying process does not have a factor structure.

[2016-06-11 17:46] #2819 closed

[2016-06-11 18:31] denadai2 opened #3002 "NegativeBinomial strange nan results"
Hello,
I have this problem with a simple input. I have nans. Why?

[code]

And the results are:

[code]

   ==============================================================================

[code]

[2016-06-11 19:14] josef-pkt commented on #3002
Thanks for the full example.

Poisson and NegativeBinomial are a bit of a headache in some cases because the exp overflows. scipy's bfgs should become more robust in future releases.

right now the only thing I managed is to start the optimization with `method='nm'` and a prespecified start_params, (after playing a bit it seems that bfgs and lbfgs also work with these Poisson Null/constant-only st

[2016-06-11 19:37] #2907 closed

[2016-06-12 11:09] denadai2 commented on #3002
Thanks

[2016-06-12 13:44] #1799 closed

[2016-06-12 13:56] kshedden commented on #3002
I was able to get better behavior with `statsmodels.GLM`, which can also fit negative binomial models.  But you need to use the gradient optimization approach, not IRLS which is the default.  See below for code.  Unfortunately `GLM` will not estimate `alpha` for you, but you can loop through a range of `alpha` values and compare BICs.

[code]

[2016-06-12 14:39] josef-pkt commented on #2990
I think we try to get ready for an `rc1` by next weekend, or Monday in a week. (After that I will not have much time or not enough internet time for a month while I'm in Europe.)

AFAICS we don't have any release blockers anymore. Testing on various machines also is almost all green. There are several smaller fixes that should still go in. And a few larger things can still go in if they get ready

[2016-06-12 14:43] springcoil commented on #2990
Agreed - :+1: for that. I didn't see any release blockers, and a release
candidate helps improve interest.

On Sun, Jun 12, 2016 at 4:39 PM, Josef Perktold <notifications@github.com>
wrote:

--
Peadar Coyle
Skype: springcoilarch
www.twitter.com/springcoil
peadarcoyle.wordpress.com

[2016-06-12 18:18] josef-pkt commented on #2799
I thought I already had a branch for ddof in OLS, but apparently not
maybe I never converted my development script to code in statsmodels

https://github.com/josef-pkt/misc/blob/olsabsorb/notebooks/ex_olsabsorb.ipynb
`in 65` changes df_resid and df_model directly before fitting
AFAIR, everything agrees between full OLS model and absorbed OLS model with ddof except for those that need the fixed eff

[2016-06-13 02:19] josef-pkt commented on #1765
also new folders: `multivariate` with currently PCA, and `imputation` with MICE

in PR: `treatment` corresponding to Stata's te, and separate from imputation in spite of overlap

I updated the list in the description

[2016-06-13 02:22] josef-pkt commented on #1802
status quo remains in 0.8

[2016-06-13 04:07] josef-pkt opened #3006 "FAQ-D: convention for type, shape of confidence intervals"
(while reading #2953)

Do we have a consistent convention for the confidence intervals returned by methods and functions, tuple, ndarray, shape?

[2016-06-13 04:24] #2759 closed

[2016-06-13 15:11] josef-pkt opened #3009 "cointegration VAR/VECM with mixed I(0) I(1)"
Luetkepohl page 250 last full paragraph

"Generally, any stationary variables in the system must be placed in the upper r-dimensional subvector of y_t. ..."

stationary I(0) variables are cointegrated with themselves.

Lutkepohl uses a definition for I(1) system that allows for I(0) variables.

This is related to an example that got me confused while writing the `johansen` test. The presence of I(

[2016-06-13 15:30] deepnadevkar opened #3010 "ImportError: No module named 'statsmodels.tsa.statespace'"
I am trying to fit an Unobserved Components model and am following the example here:
http://nbviewer.jupyter.org/gist/ChadFulton/9ec4aaa13841bbdbe4df/

But, when I run this --> from statsmodels.tsa.statespace import structural <-- I am getting an import error:
ImportError: No module named 'statsmodels.tsa.statespace'

I have tried uninstalling and re-installing statsmodels and it didn't help. If I

[2016-06-13 15:54] josef-pkt commented on #3010
This requires statsmodels master, It is not in statsmodels 0.6.1

You need to upgrade if your are using 0.6.1

[2016-06-13 16:40] deepnadevkar commented on #3010
Thanks for your prompt response! I upgraded to statsmodels-0.7.0. Now when I try to run the same line of code: from statsmodels.tsa.statespace import structural, I am getting a different error:
ImportError: cannot import name 'structural'

Your help is much appreciated!

Thanks

[2016-06-13 16:47] ChadFulton commented on #3010
Please update to the master branch, which should be statsmodels-0.8.0

[2016-06-13 16:53] deepnadevkar commented on #3010
That worked! Thanks so much!

[2016-06-13 17:15] ChadFulton commented on #3010
Great!

[2016-06-13 17:15] #3010 closed

[2016-06-13 17:33] denadai2 commented on #3002
@kshedden the only optimization approach is IRLS. Ref: http://statsmodels.sourceforge.net/devel/generated/statsmodels.genmod.generalized_linear_model.GLM.fit.html#statsmodels.genmod.generalized_linear_model.GLM.fit

It seems there is a strange behaviour with GLM as well. Bic gets always lower as I increase alpha.

[2016-06-13 19:03] deepnadevkar opened #3011 "Unobserved Components Model -- issue with out-of-sample forecasting using get_predictions() and forecasts"
Hi there,

I am using an unobserved components model to predict something over time. The model seemed to fit well, but when I am using the following code to make predictions, I am getting an error:
The code is below:

%matplotlib inline
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(10,4))

# Perform dynamic prediction and forecasting
ndynamic = 5
predict_res = res.predict(alpha=0

[2016-06-13 19:26] kshedden commented on #3002
I was working from the github master.  We implemented gradient optimization
for GLM about a year ago, but there has not been a statsmodels release in
that time.

I made a plot of residuals on fitted values for your data, and there is no
evidence that the variance increases with the mean (much less that the
variance increases faster than direct proportionality with the mean).  So
alpha = 0 may be t

[2016-06-13 19:47] ChadFulton commented on #3011
Thanks for the report. The `full_results=True` specification for `predict` is no longer used. Instead, you'll want to use `get_prediction()` which will provide you with a prediction object that includes the forecast and the standard errors. So you will want to do something like:

[code]

I know I have some old notebooks out there which still have the `full_results` specification - can you let me k

[2016-06-13 20:03] deepnadevkar commented on #3011
Ah that makes sense. The predict.predicted_mean worked and gave forecasts for each time point, but the predict.se_mean raised an error. I checked out the documentation again, but didn't find anything that worked in order to get the standard errors. Could you please check to see what exactly it is now called?

Also, the notebook that I was referencing is here: http://pages.uoregon.edu/cfulton/posts

[2016-06-13 20:06] deepnadevkar commented on #3011
Actually, the se_mean worked as well. It was an error on my part!

[2016-06-13 22:11] bashtage commented on #1467
@josef-pkt This looks close-able.

[2016-06-13 22:29] yogabonito opened #3013 "GSOC 2016: VECM"
Currently I am trying to implement the estimation of VECM parameters.
An issue I haven't solved so far is the integration of deterministic terms (See Lütkepohl (2005) chapters 6.4 and 7.2.4) - the incorporation of seasonal terms seems tricky to me. In his example on p. 303, Lütkepohl defines the vector D_t as (1, s_1, s_2, s_3)' but I haven't found an explanation, where these s_i come from (maybe

[2016-06-13 23:12] josef-pkt commented on #3013
I didn't look very closely, but I think they are just seasonal dummies, i.e. indicator variables for 1st, 2nd and 3rd quarter with one quarter dropped as reference case to avoid collinearity/singularity with the constant.

[2016-06-13 23:31] josef-pkt commented on #3013
Yes, section 7.2.4 just says seasonal or other dummy variables.
If you have a 1-dimensional quarter array, then using numpy you could just do

`quarter[:, None] = np.unique(quarter)[:-1]`

or replace the unique call with np.arange(3) if quarters are coded 0,1,2,3.
or use patsy or pandas to create the same dummy variables.

[2016-06-14 07:43] AshishBora commented on #2998
Sure. I have created a PR. Thanks.

[2016-06-14 16:13] josef-pkt opened #3018 "TST failure on Win32 in test_sarimax"
there are several tests all at the same assert that have been failing several times

https://ci.appveyor.com/project/josef-pkt/statsmodels/build/1.0.372/job/0or8pitudu3uc143

AFAICS (spot checking): the following is the test with lowest agreement, rtol=1e-7
all other ones look rtol=1e-10 or better

[code]

[code]

[2016-06-14 16:15] josef-pkt commented on #3018
@ChadFulton  Can we lower rtol to 1e-7, or is this supposed to be more precise?
Is llf the maximized loglike, where results will depend on how good convergence is?

[2016-06-14 16:31] #2998 closed

[2016-06-14 16:35] #2862 closed

[2016-06-14 16:58] #2321 closed

[2016-06-15 02:44] #3018 closed

[2016-06-16 01:16] josef-pkt opened #3024 "ENH: produce critical values for johansen cointegration test"
parking an example script, a draft for simulating critical values and p-values for johansen cointegration test

I wrote it mainly to check whether it works as simply as it sounded.
This is slow for runtime usage, but can help produce additional tables.
currently only for the simple case of no deterministic part, no constant and no trend, i.e. case 0

cross-ref PR #453 and associated issues

MacKin

[2016-06-16 03:45] josef-pkt opened #3025 "ENH: add exog to VAR"
(I thought I added this enhancement request already somewhere, but don't find it.)

VECM for given cointegrated vectors is a VAR in differences with cointegrating arrays as `exog`.

Since cointegrating vectors can be estimated superconsistenly, we can plug in the cointegrating arrays and get all the results from the standard VAR code, e.g. diagnostics.
It can also be used in a two-step procedure i

[2016-06-16 13:25] #2492 closed

[2016-06-16 13:25] #2747 closed

[2016-06-16 14:35] josef-pkt opened #3026 "BUG maybe: Windows 32 bit compatibility"
We have Windows 32bit testing in appveyor, which will be removed again in #3023

some unit tests where disabled for Win32

in one of the last appveyor runs a new error showed up, which should be investigated, see below

Note: python-xy Ubuntu nightly testing runs 32bit Ubuntu which runs without errors or failures

https://ci.appveyor.com/project/josef-pkt/statsmodels/build/1.0.396/job/4jc8ixsoi271

[2016-06-16 16:14] josef-pkt commented on #2534
closing, not enough information

[2016-06-16 16:14] #2534 closed

[2016-06-16 16:42] josef-pkt opened #3027 "Design/ENH: check no asarray, or usage of asanyarray"
#2240 drops asarray from detrend so it works with numpy ndarrays and with pandas.

This is potentially dangerous, alt least lists will not work anymore, other array subtypes (matrices, ...) might have problems, although unlikely in this case.

Also some other recent PRs use asanyarray.

One possibility is to replace asarray usage with a whitelist or allowed types and convert everything else. (xarr

[2016-06-16 16:56] #1304 closed

[2016-06-16 16:56] #2659 closed

[2016-06-16 18:42] josef-pkt commented on #2617
This should be fixed by #3020

[2016-06-16 18:42] #2617 closed

[2016-06-16 21:07] bashtage commented on #1306
@josef-pkt I think this is closeable.

[2016-06-17 00:15] josef-pkt commented on #1306
#2310 added pandas support for lagmat but not for lagmat2ds, but that is essentially a column rearranged version of lagmat.

(aside:
lagmat has blocks by lags which is useful for lag search,
lagmat2ds has blocks by variable which is useful for variable selection and granger causality tests
)

[2016-06-17 00:15] #1306 closed

[2016-06-17 14:41] josef-pkt commented on #2896
I'm putting this now as bug for 0.9, it's a serious limitation

[2016-06-17 15:23] josef-pkt commented on #2414
I'm adding 0.9 milestone, given that I was reading up on it recently

EViews manual also has a useful description for the HAC options

[2016-06-17 16:08] josef-pkt commented on #2713
closing as duplicate of #2578

[2016-06-17 16:08] #2713 closed

[2016-06-17 19:02] hendrixski commented on #512
Holt Winter is St = α *Xt + (1 - α ) * St-1    (where St is "s sub t", St-1 is S sub t-1, etc.) Right?
This smoothing is currently available in pandas, thought it's not called HoltWinter:  http://pandas.pydata.org/pandas-docs/stable/computation.html#exponentially-weighted-windows  You just have to pass adjust=False

Hope this information helps somebody who's looking for a quick way to do this. :-)

[2016-06-17 21:49] bashtage commented on #2415
@josef-pkt Looks like this one is closable

[2016-06-17 21:57] josef-pkt commented on #2415
Thanks, yes fixed in #1146 to use nobs-1 as maxlag in this case

[2016-06-17 22:05] #2415 closed

[2016-06-18 03:00] josef-pkt commented on #2176
Here is the list of 99 PRs since 0.7 maintenance was branched

(I don't know how to get the descriptive title string

[code]

[2016-06-18 06:43] bashtage commented on #2176
git log --merges dfd2b4ec8f2cffa65c44675ab25bba67de801058..HEAD | grep 'ENH\|MAINT\|BUG\|TST\|REF\|CLN\|DOC\|BLD\|DEV\|COMPAT\|Merge pull\|Cox'

    Merge pull request #3029 from kshedden/duration_api
    BUG: Add CumIncidenceRight to the duration API
    Merge pull request #3033 from josef-pkt/disable_ros_tests
    TST: disable imputation ros tests, incompatible with older pandas
    Merge pull r

[2016-06-18 07:35] ChadFulton commented on #3011
Great! Glad you are finding the package useful. Please let us know if you find any more bugs or if there are improvements that occur to you. I've also updated the page at that link to have correct code.

Thanks.

[2016-06-18 07:35] #3011 closed

[2016-06-18 12:33] bfcondon commented on #3027
I have found odo useful in the past.  Would something like this work?  For the variables that will be received from the user, we could define an interface that always maps it to the perfered internal data structure.  Then when it was returned, it could use the same data type (or one specified by the user).  This might reduce a lot of repeated code that handles these conversions.  If odo is too lar

[2016-06-18 13:05] josef-pkt commented on #3027
@bfcondon Thanks, sounds interesting but I don't know anything about odo.

One question directly about an odo based implementation is how large the overhead is, especially for short and fast functions that might be called very often.

Up to now we had two main approaches, one is the big base.data handling for the data for models, the second is using `asarray` to only allow arrays in the internal c

[2016-06-18 13:36] josef-pkt commented on #2578
fixed in #3032 allowing both kinds of name

[2016-06-18 13:36] #2578 closed

[2016-06-18 14:37] josef-pkt commented on #2176
I merged the initial stub or draft for release notes in #3005

missing
updated doc build (Tom Augspurger)

specifically mention contributors to general Maintenance: (Josef), Kevin, Pierre, Tom, ...

also thanks to contributors to github issues and feedback

[2016-06-18 17:34] bashtage commented on #1558
@josef-pkt Looks closeable now (it is used somewhere).

[2016-06-18 17:35] bashtage commented on #1933
@josef-pkt Probably closeable since near 0.8rc

[2016-06-18 17:37] josef-pkt commented on #1558
@bashtage  thanks, closing

[2016-06-18 17:37] #1558 closed

[2016-06-18 19:35] #278 closed

[2016-06-18 22:11] bashtage commented on #2645
@josef-pkt This seems like it has self resolved.

[2016-06-19 00:45] #2645 closed

[2016-06-19 09:46] bashtage commented on #2101
@josef-pkt I think this can be closed.

[2016-06-19 09:46] bashtage commented on #2537
This can be closed as surpassed by #2978

[2016-06-19 10:44] bashtage commented on #282
@josef-pkt Closeable?

[2016-06-19 12:22] josef-pkt commented on #282
I made it into a FAQ-D  for developers, at least until we have a better FAQ-D or developer notes.

I think we have more plain warnings sneaking into master, until we get used to using those warnings.

[2016-06-19 12:27] josef-pkt commented on #2101
@bashtage  thanks for triage, Can you add a PR number that fixed the issue or made it obsolete if you know it.

latest problem where fixed by #3037  some other were fixed by Tom during doc build updating

[2016-06-19 12:27] #2101 closed

[2016-06-19 12:36] TomAugspurger commented on #2176
@josef-pkt I'm following along here, but if I miss it, please ping me when the release is ready and I'll rebuild the html and PDF documentation from that commit.

[2016-06-19 13:07] josef-pkt opened #3039 "ENH: linalg helper: orthogonal complement of matrix"
(parking another helper function, so it doesn't get lost)

Written to understand orthogonal complement which is heavily used in VECM/cointegration.
Should also show up in canonical correlation, reduced rank regression and similar.
Also looks similar to reparameterization to include constraints (which I wrote without understanding the math).

[code]

[2016-06-19 15:25] #2537 closed

[2016-06-19 17:37] #2110 closed

[2016-06-19 18:00] josef-pkt commented on #788
http://stackoverflow.com/questions/37908989/how-to-add-error-bars-to-interaction-plot-statsmodels

[2016-06-19 18:02] josef-pkt commented on #788
This seems to have gotten lost in the large number of issues.
added 0.9 milestone

does seaborn have something equivalent?

[2016-06-19 18:13] bashtage commented on #2530
Should be closable now -- all notebooks have "nbformat": 4

[2016-06-19 18:21] josef-pkt commented on #2530
@kshedden  Thanks

everything needed to be converted to work with new jupyter doc build, AFAIK

[2016-06-19 18:21] #2530 closed

[2016-06-19 19:05] bashtage commented on #920
I think this is closeable - looks like BDS is in master.

[2016-06-19 19:24] ChadFulton commented on #920
Thanks!

[2016-06-19 19:24] #920 closed

[2016-06-19 21:29] #2720 closed

[2016-06-19 21:43] #2299 closed

[2016-06-19 22:42] bashtage commented on #2220
Updated list of worst offenders (ignoring sandbox)

	statsmodels/tsa/kalmanf/kalmanfilter.py 				307 	235 	0 	88 		3 	21%
	statsmodels/tsa/arima_process.py 						324 	221 	0 	38 		4 	31%
	statsmodels/tools/print_version.py 						210 	202 	0 	12 		1 	4%
	statsmodels/genmod/generalized_estimating_equations.py 	991 	196 	0 	328 	58 	77%
	statsmodels/tsa/x13.py 									258 	195 	2 	88 		10 	21%
	stat

[2016-06-20 00:24] josef-pkt commented on #2176
I don't remember backwards incompatible changes

I think the are no major backwards incompatible changes compared to 0.6 in terms of returned numbers, besides bugfixes.
But there might be changes in dtype handling and other subtle changes in edge cases or interface.

For example, I just remembered that predict now returns a pandas.Series if exog argument is pandas DataFrame. This is not mentioned

[2016-06-20 02:52] josef-pkt commented on #306
revisit for 0.9

scikit-learn and scipy use a helper function to transform user input which can be None, as seed or a RandomState instance.
(a bit similar to how we get matplotlib ax and figure keyword handling)

also we need a FAQ-D for it, as source for pattern and reminder.
My multinomial proportion PR still uses global random state.

[2016-06-20 04:26] josef-pkt commented on #2176
(digging out a git bash shell, instead of nice windows cmd :)

since hash for 0.7

[code]

[2016-06-20 04:28] josef-pkt commented on #2176
I need to escape the | in grep to get it to work

should be 0.6.1 to 0.7 git hash

[code]

[2016-06-20 04:32] josef-pkt commented on #1933
We should still finish up 0.7 release notes, given that we keep them separate from 0.8

[code]

[2016-06-20 13:43] kshedden commented on #2176
It would be good to mention something about major improvements to MixedLM (#2363):

* Enhancements to MixedLM (#2363): added variance components support for MixedLM allowing a wider range of random effects structures to be specified; also performance improvements from use of sparse matrices internally for random effects design matrices.

[2016-06-20 13:50] kshedden commented on #2176
Also something for GEE:

* Enhancements and performance improvements for GEE (#2188, #2158, #2090): EquivalenceClass covariance structure allows covariances to be specified by arbitrary collections of equality constraints; other miscellaneous enhancements.

[2016-06-20 14:10] josef-pkt commented on #2176
@kshedden Those are tagged 0.7, but checking this, they are not in the 0.7 release notes
I haven't filled out some of the major gaps for 0.7 release notes yet.

I think we should mention some of the 0.7 highlights in the release announcements, but keep them separate in the documentation rst notes.

If you have time, then you could open a PR against `docs/source/release/version0.7.rst`.
I wanted to

[2016-06-20 14:40] josef-pkt commented on #2176
cross-link release 0.7 issue is #1933

[2016-06-20 14:53] josef-pkt commented on #2176
the 0.7 highlights to mention, AFAICS. are
- adding statespace
- GEE enhancements
- MixedLM enhancements, variance components
- adding PCA class (mentioned also in 0.8 notes because of move to multivariate

@kshedden  GEE also got weights in 0.7  (probability weights ?)

[2016-06-20 16:36] josef-pkt commented on #2176
@kshedden  I'm updating the 0.7 notes right now using your summary, you can check in a few hours.

[2016-06-20 16:42] ChadFulton commented on #2176
Do you want me to post updates to the 0.8 release notes here (and the 0.7 notes in #1933) or should I make my own PR?

[2016-06-20 17:02] josef-pkt commented on #2176
@ChadFulton  I just merged my 0.8 PR. I'm done with 0.8 notes, unless something come up.
#3046 is my current, unfinished update for 0.7, FYI  (I'm still going over the list of merges and want to update GEE and MixedLM)

you can open PRs to master, and we rebase and resolve merge conflicts in 0.7 depending on what gets merged first.

[2016-06-20 17:07] josef-pkt commented on #2176
0.8 is missing Frank Cheng in contributor list because refactored MICE was committed with Kerby as author

[2016-06-20 18:01] ChadFulton opened #3047 "BLD/DOC: Executing notebooks when building documentation fails with Python 2.7"
Parking this as an issue, but it may be user (me) error. It appears that some of the notebooks have been saved with the Python 3 kernel and so `nbgenerate.py` fails when I only have a Python 2 kernel (see error below).

I have temporarily worked around this explicitly setting `kernel_name = 'python2'` in the `execute_nb` function, but probably that is no good for people who actually have the pytho

[2016-06-20 18:12] ChadFulton commented on #3047
@TomAugspurger I was hoping you might know about this :) Thanks for making building everything so much easier.

[2016-06-20 20:45] bfcondon commented on #3027
@josef-pkt I looked into odo and think it is overkill.  As a result, I made a new version that avoids any dependencies other than numpy and pandas.

I think the idea is to have control over the internal data structures used in statsmodels.  In this case, convert everything that is not on the approved list.  In the code below, I subclassed DataInterface with NumpyInterface where everything that is

[2016-06-20 21:47] josef-pkt commented on #3027
@bfcondon   I will not have much time to look into this or think about it for the next month or 1.5 months.

so just some thoughts

I think it would be good to have a more systematic approach to the interface conversion handling, similar to what's currently in the models.
We can start with some functions and see how it works out. I don't know where and how much this could be used, the simplest cas

[2016-06-20 23:13] ChadFulton opened #3052 "BLD/DOC: See also error"
Error with one of the attributes of the `Family` class of `statsmodels.genmod.families.family.py`. The docstring is:

[code]

I guess the line-break is causing Sphinx to try and interpret the second line as a new See Also item.

The error is:

    building [html]: targets for 64 source files that are out of date
    updating environment: 2962 added, 0 changed, 0 removed
    reading sources... [ 16

[2016-06-20 23:44] #2658 closed

[2016-06-21 03:47] josef-pkt commented on #2176
As far as I can see we are almost done, @TomAugspurger still has a python 2.7 compatibility for the doc build in the works. Otherwise, we are ok. We can still fix smaller things until the release.

I'm planning on releasing the rc1 tomorrow morning.

[2016-06-21 11:41] #3052 closed

[2016-06-21 13:03] #2969 closed

[2016-06-21 13:05] #3047 closed

[2016-06-21 13:58] josef-pkt commented on #2176
another small item: the pypi page doesn't contain the release notes, it is based on Readme.txt which will be updated by #3051

the pypi page should get a link to the release notes,
http://www.statsmodels.org/stable/release/version0.8.html  doesn't exist yet, but should work

[2016-06-21 14:43] josef-pkt commented on #2176
I create the `maintenance/0.8.x` branch

I'll do some final checks, but this should be the rc1 for tagging and uploading to pypi.

[2016-06-21 14:45] TomAugspurger commented on #2176
I'm giving the doc build a shot. I created a `v0.8.0rc1` tag based off the last commit on that branch, but can rebuild if needed.

[2016-06-21 15:25] TomAugspurger commented on #2176
HTML docs are up at http://www.statsmodels.org/dev/

will try a PDF version later, but not sure how useful they are since I don't think the notebooks are included.

[2016-06-21 15:27] bashtage commented on #2176
This sentence need a change

The online documentation is hosted at sourceforge
<http://statsmodels.sourceforge.net/>.

On Tue, Jun 21, 2016 at 4:25 PM Tom Augspurger <notifications@github.com>
wrote:

[2016-06-21 15:27] TomAugspurger commented on #2176
Also the docs recommend using easy_install instead of pip / conda.

I can make those changes (and any others) tonight hopefully.

[2016-06-21 15:30] bashtage commented on #2176
Suggest removing

[code]

from the css file (or comment).  It makes h3's look realy wierd since they
are indented.

On Tue, Jun 21, 2016 at 4:28 PM Tom Augspurger <notifications@github.com>
wrote:

[2016-06-21 15:31] bashtage commented on #2176
Good idea

[2016-06-21 15:54] josef-pkt commented on #2176
I am also still getting some test noise with `statsmodels.test()`, and I had to switch computer because matplotlib still segfaults when I try to run all tests.

in impute_ros I'm getting a FutureWarning for pandas sort versus sort_values (different version combination from what I used before)

... all green in my testrun without matplotlib, wheel compiled with MingW on Python 3.4

I'm starting to

[2016-06-21 15:58] bashtage commented on #2176
You could simply build a 3.5/VC and 2.7/VC wheel.  Both of these are very
easy since platform compilers are readily available from MS.  I suspect
these are the most important for Windows users since essentially anyone who
is on 3.4 can use 3.5.

On Tue, Jun 21, 2016 at 4:54 PM Josef Perktold <notifications@github.com>
wrote:

[2016-06-21 16:20] TomAugspurger commented on #2176
@bashtage can you show me what you meant by that CSS change? With that entire block removed, it looks like

<img width="877" alt="screen shot 2016-06-21 at 11 19 01 am" src="https://cloud.githubusercontent.com/assets/1312546/16237423/04b08b94-37a2-11e6-95f9-812476cf3072.png">

I don't see any problems with it as is, but I'm probably just missing something.

[2016-06-21 16:27] bashtage commented on #2176
My highlight.

![margins](https://dl.dropboxusercontent.com/u/11846886/margins.png)

[2016-06-21 16:27] bashtage commented on #2176
Seems to be different treatment ondifferent pages

[2016-06-21 16:39] TomAugspurger commented on #2176
@bashtage got it, thanks. (needed `.examples-page h1, .examples-page h2, .examples-page h3` in case you were curious)`. Before it selected only `h1`s below `.examples-page` and any `h2` or `h3` .

[2016-06-21 16:50] bashtage commented on #2176
Some experiment showed removing all of
[code]

produced correct output.  But whatever works at this point.

[2016-06-21 16:58] josef-pkt commented on #2176
AFAICS, we are done.

I will release/upload in about an hour  (after cleaning the guinea pig cage :)

[2016-06-21 16:59] ChadFulton commented on #2176
<http://statsmodels.sourceforge.net/>.

Along those same lines, the Statsmodels Github repository description currently still references sourceforge

Statsmodels: statistical modeling and econometrics in Python http://statsmodels.sourceforge.net/devel/

[2016-06-21 17:08] TomAugspurger commented on #2176
Ran the test-suite on windows with your 3.5 wheel, all tests passed.

There were warnings from pandas about `sort` vs. `sort_values`, so I created https://github.com/statsmodels/statsmodels/pull/3064. Not a show-stopper though.

[2016-06-21 18:39] deepnadevkar opened #3065 "Unobserved Components Model -- issue with out-of-sample forecasting"
Hi there,

I was able to make one-step ahead predictions with this model using the get_predictions() method. I also need to make out-of-sample forecasts. My in-sample data is weekly. The head of the dataframe looks like this:

![screen shot 2016-06-21 at 2 37 26 pm](https://cloud.githubusercontent.com/assets/11262596/16241890/ca2401ba-37bd-11e6-8a22-b2eff5c47cb0.png)

When I used the get_forecast(

[2016-06-21 18:41] TomAugspurger commented on #2176
http://www.statsmodels.org/dev/ is updated as of a120daa

[2016-06-21 18:45] josef-pkt commented on #2176
@bashtage   appveyor is not working from master, and it doesn't look good on the front page
https://pypi.python.org/pypi/statsmodels

[code]

but it works with pull requests

[2016-06-21 18:57] bashtage commented on #2176
I think it is because you are merging too quickly and it only clones with a
depth of 1. You might be able to change the clone depth, or you can just
wait for appveyor to catch up which will take hours given the PR flurry.

[2016-06-21 21:12] ChadFulton commented on #3065
I can't replicate, so I'm guessing there's some frequency issue here. What is the frequency of the DataFrame index?

[2016-06-21 21:14] ChadFulton commented on #3065
Also please post the code you're using to instantiate the model so I can see what the specification is.

[2016-06-21 21:15] ChadFulton commented on #3065
Clearly a bug somewhere, though, thanks for reporting it.

[2016-06-22 00:02] josef-pkt commented on #2176
@bashtage  ok, thanks, AFAIK travis has clone depth 50.
I increased it on appveyor to 50, it was at 10 in the settings. I don't know when it will take effect.

(closing browser windows, this was unsent)

[2016-06-22 00:10] josef-pkt commented on #2817
looks like we missed this one, I had thought it was incorporated somewhere

[2016-06-22 00:12] josef-pkt opened #3066 "FAQ individual versus joint significance"
a nice example here

http://stats.stackexchange.com/questions/218667/simple-linear-regression-p-values-and-the-aic

[2016-06-22 03:50] josef-pkt commented on #2323
I don't know why this ticket got lost, without label and milestone.

It's likely that this was the ARMA predict with exog bug fixed for 0.7.
TODO: check if this is still broken

[2016-06-22 07:21] matthew-brett opened #3067 "Precision errors in statespace testing on 32-bit"
Building and testing 32-bit wheels for 0.8.0rc1 - a couple of test errors:

[code]

See: https://travis-ci.org/MacPython/statsmodels-wheels/jobs/139376879

Is it reasonable to relax the precision a little?

[2016-06-22 11:33] josef-pkt commented on #3067
Yes, I think we can lower precision a bit,

both tests have a catch_warning for convergence failure, so those cases are difficult or fragile edge cases. The second test has a followup assert that might also need adjustments.

We go intermittent failures or convergence errors on Windows 32-bit but stopped testing for it, see #3026

[2016-06-22 12:07] josef-pkt commented on #3026
see #3067 for mac 32-bit problems

there is a nan or inf in the SVD/linear algebra (printed at end of log, no information which test)
`** On entry to DGESV   parameter number  4 had an illegal value`
https://travis-ci.org/MacPython/statsmodels-wheels/jobs/139376880

maybe there is a overflow or underflow/zerodivision in one of the tests for edge cases

[2016-06-22 14:14] deepnadevkar commented on #3065
The freq of the date index is 7 days (weekly). I posted a screenshot of my dataframe in case you wanted to see it. I am using the following code to instantiate a local level model:

![screen shot 2016-06-22 at 10 09 13 am](https://cloud.githubusercontent.com/assets/11262596/16269763/a61a8b6e-3861-11e6-812b-ec2d338dfcf5.png)

The diagnostic and components plots look like this:

![screen shot 2016-0

[2016-06-22 14:32] yogabonito commented on #3013
Thanks Josef for your quick reply!
The trick with [:, None] has already saved me some time.
I have sent you an e-mail since I am still having some trouble (the matrix has to have the same width as the matrix \Delta X and my approach yields a different result than JMulTi).

[2016-06-22 14:34] josef-pkt commented on #3013
open a WIP pull request so I can see what you have, we can clean up the branch later.

WIP = work in progress

(I replied to email with travel details)

[2016-06-22 15:24] ChadFulton commented on #3065
Please let me know the result of:

[code]

Also, since your model is just a random walk, the results you're seeing aren't surprising. The model itself has no real predictive power - it's just saying that the process follows a random walk, so the best guess of tomorrow is just whatever happened today.

What should be happening is that the predicted series should be a lagged version of the data seri

[2016-06-22 15:38] deepnadevkar commented on #3065
Okay, the result of print(data.index.freq) was None.

Also,

![screen shot 2016-06-22 at 11 37 10 am](https://cloud.githubusercontent.com/assets/11262596/16272960/b5c25aae-386d-11e6-8c43-01986cd67100.png)

Yes, I'm still trying to understand the nuances of the model and the parameters. Thanks again!

[2016-06-22 15:44] ChadFulton commented on #3065
I'll take another look at this in an hour or two. In the meantime, can you try reindexing your data to actually have a weekly frequency (i.e. so data.index.freq is no longer None) and see if that works? I'm guessing the problem here has to do with a frequency of None confusing the code.

[2016-06-22 17:13] deepnadevkar commented on #3065
Ah, that worked!! Thanks so much and sorry for all the trouble. I will work on fine-tuning my model now to get the best fit. :)

[2016-06-22 17:15] ChadFulton commented on #3065
Great! This is definitely a bug, and I appreciate you reporting it.

From a brief look, I think it used to be the case that Pandas data without a frequency used to raise an error when the model was instantiated, but something changed in recent Pandas versions so that's no longer true.

[2016-06-22 17:57] ChadFulton opened #3068 "BUG: TSA models if date index without known frequency"
If given a Pandas `endog`, TSA models require the index to contain dates. If the date index does not have a frequency, an attempt is made to infer it, and it appears that the intent is to raise an error if this inference fails (`statsmodels/tsa/base/tsa_model.py:56`):

[code]

However, `_infer_freq` doesn't usually raise an exception (from a brief look, it only ever raises an exception if the leng

[2016-06-22 18:53] deepnadevkar commented on #3065
I see, well thanks for clarifying!

[2016-06-22 18:53] #3065 closed

[2016-06-22 21:37] ChadFulton commented on #3068
Although I guess this would be backwards incompatible.

[2016-06-22 23:11] matthew-brett commented on #3067
Suggested relaxation at https://github.com/statsmodels/statsmodels/pull/3069

[2016-06-24 05:57] bashtage commented on #2990
@springcoil 0.8rc1 has been tagged and should make its way to PyPI.  Still a while until 0.8 (month)

[2016-06-24 13:20] josef-pkt opened #3075 "REL: release 0.8 - changes 0.8rc1"
an issue to keep track of merges during rc1
cross-link #2176 has the notes for the rc1 release preparation
#3074  forward ports 3 commits made to maintenance before release

additional changes will be made to master and backported (cherry-picked) to maintenance/0.8.x
- [x] #3069 test precision
- [ ] #3071 appveyor clone depth
- [ ] #3073 test datasets
- [ ] #3080 pypi classifier
- [ ] #3084 start

[2016-06-24 14:30] josef-pkt opened #3076 "release 0.9"

[2016-06-24 15:33] josef-pkt commented on #1111
https://github.com/statsmodels/statsmodels/blob/master/statsmodels/stats/multivariate_tools.py
has the basic canonical correlation, needs to move to statsmodels.multivariate

related reduced rank regression #2625
Johansen also has some notes on it

[2016-06-26 00:07] thequackdaddy commented on #2915
@josef-pkt I have another problem I want to talk through. So bear with me.

I agree--in general--that `exposure` is the correct thing to use here. I think `var_weights`  is incorrect but I'm not sure that the assumption because I'm not sure so certain that dispersion--`(endog - mu) ** 2`--scales linearly time. In fact, I would think this is not the case. (Let me know if my understanding of dispers

[2016-06-26 08:08] josef-pkt commented on #2915
I'll try to look at it tonight (Central European Time), I don't remember the details now.

Yes, I think the pearson estimate needs to take account of exposure as in (3.9) in your comment. This needs to be fixed (for 0.8) if it doesn't do it correctly.

[2016-06-26 20:30] josef-pkt commented on #2915
in estimate_tweedie_power, we could try to replace endog and mu by the exposure corrected values

[code]

where exposure is the correct exponentiated exposure (internally still stored as log exposure, which I think hasn't changed yet). and replace self.endog by endog in all subsequent expressions.

However, I'm not able to figure out right now what the interpretation is. Even without sun, beach, d

[2016-06-26 20:51] thequackdaddy commented on #2915
For gamma-glm, I did that in a branch that I'm working on. I'll make these changes and send to you.

I *think* if we do this, we ought weight the calculations based on exposure. The way I interpret it is that each row in my design matrix is equivalent to a "site" and and the replicates (n_i in the paper) are the amount of exposure. We should weight using number of exposures too. I think that makes

[2016-06-26 22:45] bfcondon opened #3078 "Hypothesis for testing"
I have heard that QuickCheck is useful in testing Haskell.  Have we considered using Hypothesis (a python port)?

https://github.com/HypothesisWorks/hypothesis-python

[2016-06-27 03:34] thequackdaddy commented on #2915
Ok, I've managed to confuse myself.

From Taylor's Power Law for Dependence of Variance on Mean in Animal Populations, Perry (1981) available on jstore.

<img width="648" alt="screen shot 2016-06-26 at 10 13 02 pm" src="https://cloud.githubusercontent.com/assets/8186432/16367664/6dc8619a-3beb-11e6-8cd1-5f78f92950f0.png">

Note that j indexes the sites, and i indexes the time (which I presume is ba

[2016-06-27 14:22] bashtage commented on #1934
@josef-pkt Probably closeable.

[2016-06-27 14:22] bashtage commented on #1933
@josef-pkt Probably closeable.

[2016-06-27 14:50] bashtage commented on #3067
Closeable?

[2016-06-27 15:58] matthew-brett commented on #3067
Still waiting for 0.8 backport?

[2016-06-27 22:38] thequackdaddy commented on #2915
After contemplating this over again, I've come to a different conclusion. (No surprise..)

I re-read some articles by Glenn Meyers and poked around and found out that a lot of the old-school Tweedie folks in actuarial circles simply assume that the distribution is Poisson/Gamma, with no zero-inflation, and then using some simple algebra, realize that you only need to calculate the coefficient of v

[2016-06-28 07:10] venkatareddykonasani commented on #2376
A function to calculate VIF values based on 1/(1-Rsq)

`def vif_cal(input_data, dependent_col):
    x_vars=input_data.drop([dependent_col], axis=1)
    xvar_names=x_vars.columns
    for i in range(0,xvar_names.shape[0]):
        y=x_vars[xvar_names[i]]
        x=x_vars[xvar_names.drop(xvar_names[i])]
        rsq=sm.ols(formula="y~x", data=x_vars).fit().rsquared
        vif=1/(1-rsq)
        print

[2016-06-28 07:36] bashtage commented on #280
@josef-pkt This has been fixed.

[2016-06-28 13:58] josef-pkt opened #3082 "BUG: import statsmodels slow and loads a lot, including pandas"
[code]

I got suspicious because of slow import when I just want to check something quickly.

AFAICS, `statsmodels.__init__` loads some of the warnings, which imports tools which now loads pandas and others in `tools.__init__` because `add_constant` is loaded from `tools.tools`

[2016-06-28 14:03] josef-pkt commented on #3082
maybe that wasn't better in 0.6.1

[code]

this includes matplotlib, matplotlib is disabled in the python 3.4.4. version above

[2016-06-28 17:21] bashtage commented on #838
Probably closeable

[2016-06-28 18:54] dillontiner opened #3085 "tsa.seasonal_decompose frequency interpretation"
I was trying to use seasonal_decompose for time series analysis with a pandas dataframe with a datetime index for every 5 minutes. This threw an error that came from statsmodels/tsa/tsatools.py:
`656         raise ValueError("freq {} not understood. Please report if you "`
`--> 657                          "think this in error.".format(freq))`
which came through statsmodels/tsa/seasonal.py:
`69

[2016-06-28 19:00] josef-pkt commented on #3085
Are you using master or 0.8.0rc1?

The problem is that in cases like 5 minute periods it is difficult to guess what the season length should be. (When in doubt, refuse to guess.)
In 0.8 and master explicitly specifying `freq` should override any pandas index and implied freq. (If not, then it would be a bug in recent changes.)

(I think the ValueError message should be improved, because this is a

[2016-06-28 20:20] jrfc223 opened #3086 "The regression type is always 'c' for mackinnon p and mackinnon crit regardless of coint regression type."
I added print statements to display value of the regression type before mackinnon p, inside mackinnon p, after mackinnon p, inside mackinnon crit, and after mackinnon crit. You can see that changes to regression type in the call to coint are not carried to the mackinnon p and crit functions.

[code]

[2016-06-28 21:32] josef-pkt commented on #3086
(I reformatted description.)

I was hoping we can hide it a bit longer, it's not in the official api and documentation. but I guess it's out of the bag
see #1451

The problem is that I didn't know what the p-values are supposed to be. I was recently looking at the MacKinnon et al paper to figure out what the options are.

R and official Stata only have phillips-ouliaris. And AFAIC or IIRC, the Sta

[2016-06-28 21:37] josef-pkt commented on #3086
see also https://groups.google.com/d/msg/pystatsmodels/YHZoX-vIsLo/eLaHy-2DtKoJ

[2016-06-29 08:03] josef-pkt opened #3087 "BUG: predict fails with nan in exog when building series"
see last case in http://stackoverflow.com/questions/38045310/statsmodels-what-are-the-allowable-formats-to-give-to-result-predict-for-out/38087993#38087993

[code]

[code]

reference: returning pandas object has been added in #2884 (new in 0.8)

[2016-06-29 08:12] josef-pkt commented on #3087
Yes, it's patsy's overzealos drop nan/missing policy

[code]

[2016-06-29 16:40] dillontiner commented on #3085
I am looking at the master branch and I am working with version 0.6.1.

Passing a freq parameter to seasonal decompose also doesn't work unless it is consistent with the pandas datetime index. Even if it is consistent, it still doesn't accept days as an interpretable freq for the index.

[2016-06-29 17:57] ChadFulton commented on #3085
Can you post something minimal that replicates the problem? When I use a day-indexed time series it works.

Can you give an example of what you're doing / expecting? The `freq` parameter expects an integer describing the periodicity of the seasonality. If this parameter is passed, then the `freq_to_period` function you referenced above, which throws the `ValueError`, shouldn't be called.

--------

[2016-06-29 20:23] josef-pkt commented on #3085
In 0.6.1 specifying `freq` was just ignored if a pandas Series was used. `freq` works and worked with numpy arrays.
This has been fixed in 0.8.0.rc1 and in master.

[2016-07-01 07:38] josef-pkt opened #3089 "FAQ-D: API consistency in tsa"
#3028 cleans up VAR including changing to more descriptive names.
similar features are in AR, ARMA/ARIMA with exog and in statespace models.

What is the common API for time series models?

- basics common to all models or all LikelihoodModels
  - fit
  - predict
  - summary  missing in AR
  - wald tests, not supported across all models
  -

- basics, specific to time series
  - lag order: created

[2016-07-02 03:28] thequackdaddy commented on #2915
Note to self:

Did some more book learning and a few tests using real data.

* My bentq method I still don't have an intuitive feel for how it really works. It worked on the largest dataset that I had, but failed miserably on the second largest. The second largest is a less homogenous coverage where the claims can be really small, or really big.. a few hundred dollars to $100k or more. These claim

[2016-07-02 06:28] josef-pkt commented on #2915
@thequackdaddy  Besides fixing exposure or whatever might not be correct:
I think in your case you need more diagnostics, goodness-of-fit measures and comparison with alternative models to see whether Tweedie is an appropriate distributional assumption for your data.

E.g. It could be that the gamma has not thick enough tails to model your very large values without distorting the distribution like

[2016-07-02 15:32] thequackdaddy commented on #2915
I'm rather comfortable with Tweedie.

Here's [a gist](https://gist.github.com/thequackdaddy/08f3006d61350752bca963f32f31481b) of the data. There are 2 claim types, bodily injury (called BI) and property damage (called PD).

Bodily injury is much more likely to have litigation and large claims, you can see that the claim buckets are quite wide.

Property damage claims are a little tighter.

I'll wo

[2016-07-04 08:13] josef-pkt opened #3091 "big, large distributed GLM - Performance"
http://support.sas.com/resources/papers/HPGENSELECTscalability.pdf
refers to http://blog.revolutionanalytics.com/2012/10/allstate-big-data-glm.html

150 million observations and 70 degrees of freedom

based on SAS technical paper, exog has 70 column, i.e. df_model = 70 or 69

[2016-07-04 08:15] josef-pkt commented on #3091
(just a reference that I found by chance in the SAS documentation)

[2016-07-04 09:37] josef-pkt opened #3092 "test_markov_regression numpy deprecation warning"
I just saw this in https://travis-ci.org/statsmodels/statsmodels/jobs/140853476

[code]

[2016-07-04 09:39] josef-pkt commented on #3092
@ChadFulton  What dtype is `mask` supposed to be?  Can you look at this?

[2016-07-04 13:51] thequackdaddy commented on #3091
@josef-pkt That's a funny paper. Hadn't seen it before. SAS seems very annoyed at them, which is good.

If you were ever to massively scale statsmodels GLM, how would you go about it? The limitations (in my view) are...

* statsmodels doesn't have very good support for handing large on-disk tables
* patsy, while nifty, doesn't seem to work well on my machine when you have millions of records. It c

[2016-07-04 16:34] matthew-brett commented on #3075
Backport of test precision fix : https://github.com/statsmodels/statsmodels/pull/3093

[2016-07-04 16:35] matthew-brett commented on #3067
Backport of test precision fix : #3093

[2016-07-04 20:06] josef-pkt commented on #3091
I found it fun to see how SAS is trying to keep up, given that it's traditionally designed to work for large datasets. It looks like an interesting usecase for when we want to joing in the fun/fray.
But, I didn't try to figure out what algorithms they are using for distributed computation.

I think the users will show up once we provide the necessary tools given the popularity of python in datasci

[2016-07-04 20:10] yogabonito commented on #3013
### Todo list / topics from my GSoC proposal:

... related to estimation (chapter 7 in Lütkepohl (2005))
- [ ] Estimation of VECMs
- [ ] Forecasting
- [ ] Testing for Granger-causality
- [ ] Impulse response analysis

... related to specification of VECMs (chapter 8)
- [ ] Lag order selection
- [ ] Testing for the rank of cointegration
- [ ] Checking for residual autocorrelation
- [ ] testing for

[2016-07-04 20:18] josef-pkt commented on #3013
@yogabonito

can you look at Stata http://www.stata.com/manuals14/tsvec.pdf or R to see what information should be available in output tables, and how you can provide them.
I went through the Stata manual, and one possibly messier part are the **implied** and normalized parameters that don't have standard errors or covariance. I think those can be added separately to the output, so params and cov_

[2016-07-04 20:40] yogabonito commented on #3013
Of course. I will have a look at it tomorrow.

[2016-07-04 21:08] josef-pkt commented on #3067
backported

[2016-07-04 21:08] #3067 closed

[2016-07-05 12:44] bashtage opened #3094 "BUG: Hessian inversion check is inadequate"
The inverse check at

https://github.com/statsmodels/statsmodels/blob/d2de2f0d91e89ff84856d86c2b2d2aa02e6c0fe5/statsmodels/base/model.py#L445

[code]

is inadequate and only wil have issues when eigenvalues are very close to zero.  It doesn't verify that all eigenvalues have the same sign (positive, for `-1 * self.hessian(xopt)`).  A better check is to ensure that the minimum eigenvale of `-1 * se

[2016-07-05 12:45] bashtage commented on #3094
When PD is enforced, there are at least 131 failing tests:

https://travis-ci.org/bashtage/statsmodels/jobs/142324304

[2016-07-05 12:47] bashtage commented on #3094
Most failures are in `duration`, `discrete` and `miscmodels`

[2016-07-05 16:22] kshedden commented on #3094
I wasn't immediately able to observe any problems in duration with Hessian inversion.  May be numpy version or platform dependent?

[2016-07-05 16:31] bashtage commented on #3094
The estimated Hessian in these tests is indefinite:

[code]

The two numbers on each line are the maximum and minimum eigenvalue.  The minimum should be > 0 if

* The function is at an optimim
* The hessian estimate is accurate

[2016-07-05 19:28] josef-pkt commented on #3094
as reference: above test failures are produced by

[code]

https://github.com/statsmodels/statsmodels/pull/3084#issuecomment-230406453

[2016-07-05 19:57] josef-pkt commented on #3094
Given the large positive and negative eigenvalues, this is not just a numerical precision problem, but seems to be more serious convergence problems.

My suggestion is to add a Warning in 0.9 and then investigate some cases.
As solution for users, I would eventually set invalid hessians to nans or None similar to the case when linalg.inv fails. The users or developers can always call the hessian m

[2016-07-06 00:20] kshedden commented on #3094
Don't you mean like below?  In that case, I get no errors.

[code]

[2016-07-06 08:42] bashtage commented on #3094
Which scipy/numpy/OS?  Surprised given the wide range of failures across all travois configs.

[2016-07-06 08:43] bashtage commented on #3094
Yes, indeed.  I was checking wrong output.  Face palm is the correct expression I think.

[2016-07-06 10:00] kshedden commented on #3094
We might still want to include the check, but I think a failed Cholesky factorization is a more efficient way to go (compared to calling eig).

[2016-07-06 10:57] josef-pkt commented on #3094
I think we could replace inv with an svd or eig to be able to calculate and inv and get the information about eigenvalues/rank at the same time.

This would allow us to get the rank and work towards more consistency in using pinv versus inv for cov_params.  (possibly with keyword like singular_ok = True, which is used in some cases in Stata, IIRC with different use cases.)

Related: several models

[2016-07-06 22:07] bashtage opened #3098 "BUG: Kalman filter fails with 1-D complex Z_mat, T_mat, R_mat"
This has been happening silently during test_arma_order_select_ic due to the broad `except` inside model.py.  I found this when looking at the Hinv issue.  The solution seems to be to ensure `P` is fortran contiguous

[code]

The `ValueError` was occurring during the attempt to compute the hessian, and was caught.

The traceback is

[code]

[2016-07-06 22:07] bashtage commented on #3098
@ChadFulton This might be up your alley to verify.

[2016-07-06 23:11] ChadFulton commented on #3098
What you have looks right to me. I guess the original code had a misunderstanding about the effect of `order='F'` in `reshape`.

[2016-07-06 23:12] ChadFulton commented on #3098
Yes, I see that the problem is fixed in the `# initial variance` computation (lines 73-74) in the same way that you have there.

[2016-07-07 16:57] bashtage commented on #133
Broken and probably not worth salvaging

[2016-07-08 22:51] #1579 closed

[2016-07-09 18:24] thequackdaddy opened #3101 "Pearson Chi2 Test Statistic in a GLM"
I'm trying to compare 2 models using a Pearson Chi-2 type 3 statistical test. I've done this before in some expensive software, so was trying to figure out how to do it with python.

That procedure followed (I'm fairly sure) what exists in [this paper](http://www.psychologie.uzh.ch/dam/jcr:ffffffff-b371-2797-0000-00000fda8f29/chisquare_diff_en.pdf). In essence, you calculate 2 values for a pair of

[2016-07-09 18:50] thequackdaddy commented on #3101
I just realized that the above question is dumb, dividing by scale will give you the df_resid. Still, it makes me wonder what this software package called the "chi-sq" statistic. Perhaps it was really the F-test?

[2016-07-09 18:54] josef-pkt commented on #3101
Does the extra parameter refer to an additional explanatory variable in exog or to some other parameter?

In Binomial and Poisson the scale is 1 under the assumption of correct specification. In gaussian and the others including Tweedie we have an additional scale parameter not fixed at one. In dispersed Poisson or Binomial we also have an additional scale.

With fixed scale=1, we can just take th

[2016-07-09 19:00] thequackdaddy commented on #3101
Ahhh, this makes sense to me then....

chi2_diff = (res1.pearson_chi2 - res2.pearson_chi2) / model1.scale, where model1.df_model > model2.df_model (model1 is nested in model2).

When I add a parameter I know is meaningless (from the p-value), I get a bad chi2 score.

I think this is what I need. Thanks.

[2016-07-09 19:01] thequackdaddy commented on #3101
And yes, the additional parameter is an extra column in endog. Generally, its like I'm testing whether adding a categorical variable for a discount or type of risk (class1 vs. class2).

[2016-07-09 19:19] josef-pkt commented on #3101
Note, that you can also use Wald and score tests for the same hypothesis. Asymptotically they are the same.

One problems with hypothesis testing at a usual significance level is that in large samples like you have, even small/tiny effects will be statistically significant because the power to reject even small deviations from the null hypothesis is large.

[2016-07-09 22:21] thequackdaddy commented on #3101
First, you answered a question before I even was about to ask it. Yes, you are right, on my 4.8 million record dataset I indeed am finding that adding a exog parameter which I know is insignificant (like a discount that only 1% of the records get, and p-value is 0.7) still gives a 0.0% Chi2. That's not helpful.

However I swear that the software package that I used to deal with would calculate val

[2016-07-10 06:38] josef-pkt commented on #3101
"0.0% Chi2"  Does that mean 0 pearson_chi2 or the diff in pearson_chi2 is 0?

p-value=0.7 sounds like the test statistic is reasonable for an insignificant effect. 1% of records is still a large number in your case, so I would have expected that it would be significant even in this case if it affects the 1% of observations.

Can you post/add your code here or somewhere?
We need to add this to GLM.

[2016-07-10 15:27] thequackdaddy commented on #3101
Sorry what I meant is that when I ran...

[code]
I got 0.0%. Reading through some notes and documentation, I was thinking this was what the software did, in some fashion.

After reading more, I realized something else. From [this document](https://www.casact.org/pubs/dpp/dpp04/04dpp1.pdf) I noticed the following on page:

<img width="1046" alt="screen shot 2016-07-10 at 10 10 32 am" src="https://c

[2016-07-11 19:22] jspeis opened #3103 "Logic swapped for cooks distance/dffits in influence_plot?"
I was looking at the [code for influence_plot] (https://github.com/statsmodels/statsmodels/blob/6903819080ea2ddddcf2cb4aca20ecb1cfbfe35e/statsmodels/graphics/regressionplots.py#L765-768)

and I happened to notice the following block:
[code]

but should that be the other way around? i.e.:

[code]

[2016-07-13 09:09] updiversity opened #3105 "SARIMAX predict ValueError : Wrong number of items passed xxx, placement implies yyy"
Not sure if this is a bug or a wrong usage of the "predict" method.

When I train the model, everything looks to work properly

[code]

However, when I try to get some predictions

`
results.predict()
`

I got this error message:

[---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-9

[2016-07-13 15:46] ChadFulton commented on #3105
Thanks for the report. I can't seem to replicate it myself doing:

[code]

Can you describe your data a little bit more, or if possible give an example of data / code that throws the exception? Thanks!

[2016-07-13 17:00] updiversity commented on #3105
Hi,

using your example, if I don't specify a date range index:

`
x = pd.Series(np.random.normal(size=100))
`

I got the same error message. Does it means that I am forced to specify an index in that way ? I was not expecting it but this is fine.

Thanks for the quick reply

[2016-07-13 17:00] #3105 closed

[2016-07-13 17:00] #3092 closed

[2016-07-13 17:10] ChadFulton commented on #3105
This is another instance of #3068. Thanks for the report!

[2016-07-14 08:00] benjaminbelmudez opened #3108 "No Confidence Intervals for SARIMAX Forecast"
Hey,

I am using the function SARIMAX from statsmodels 0.8.0 with an exogenous variable. It seems that the methods get_prediction() and subsequently conf_int() do not work out-of-the box when used with an exogenous variable, is that correct?

I get the following error message: "ValueError: Forecasting for models with time-varying obs_intercept matrix requires an updated time-varying matrix for the

[2016-07-14 19:39] pcdinh opened #3109 "FAQ: Time series support in Statsmodels"
Hi,

I learned from /r/datascience

https://www.reddit.com/r/datascience/comments/4siy0n/learning_time_series_analysis/d5cbp3c

I am quite new to statsmodels. Is his statement true to current features of statsmodels? If it is the case, is the any plan to support the missing parts?

Thanks

[2016-07-14 20:04] ChadFulton commented on #3109
There are some true things about that statement and some false things, as
well as a dose of that commenter's opinions. Here's an update on the
Statsmodels time series library.

- The emphasis in econometric time series generally is on ARIMA models, and
they're used a huge amount.
- Statsmodels v0.6.x also has support for VAR models, which are again huge
workhorses in econometric time series.
- I d

[2016-07-14 20:12] ChadFulton commented on #3108
Thanks for this report! This is definitely a bug, and it needs to be fixed before 0.8 is released.

[2016-07-15 07:01] josef-pkt commented on #3109
I think the last paragraph of Chad is a good summary. Time series is now one of the strong areas in statsmodels with pretty good coverage of models. But as in all groups of models, there is always a large number of features still missing. How soon new features are added depends on the availability of contributors/contributions and on our priorities.

one point is that we don't have SARIMA, we have

[2016-07-15 07:51] MattJackson-MF opened #3111 "BUG: SARIMAX Time series get_forecast() (statsmodels 0.8.0.dev0+f86c074)"
I have been having trouble with the get_forecast() function on a SARIMAXResults object.

I am able to make dynamic predictions with get_predict() and forecast with forecast(), however, when i call get_forecast() an error is thrown.

`mod = sm.tsa.SARIMAX(ts, trend='c', order=(1, 1, 1), seasonal_order=(1, 1, 0, 12))`
`res = mod.fit()`
`fore = res.get_forecast(12)`

[2016-07-15 08:06] ChadFulton commented on #3111
Thanks for the report! Looks like a duplicate of #3108.

[2016-07-15 17:49] ChadFulton commented on #3111
Confirmed, this is the same issue and will be fixed in #3110. Thanks again!

[2016-07-16 06:36] ChadFulton commented on #3068
The main issue is that it allowed coercing generic indexes into `DateTimeIndex` using `pd.to_datetime`. The problem with this approach is the following:

[code]

So if someone did the following:

[code]

they get:

[code]

[2016-07-16 06:49] ChadFulton commented on #3068
The actual problem here is that for some reason, `DatetimeIndex`, when called with `start`, `end`, and a nanosecond frequency doesn't actually include `end`.

[code]

whereas a similar call with annual frequency gives:

[code]

[2016-07-16 06:56] ChadFulton commented on #3068
Taking a look at `test_pandas_nodates_index` in `test_base.py` I think it's pretty clear that the intention was that not to allow any Pandas input that did not specifically have a date index.

However, the existing behavior allows estimating a model with a pandas endog, even though forecasting will fail. So I think the best course is to fix the forecasting problem by putting a shim in for the nano

[2016-07-16 07:28] josef-pkt commented on #3068
That seems to be more a pandas bug, maybe inherited open upper interval from numpy/python.

I think adding a workaround is good, but I think we should check changes in behavior of recent pandas, and maybe stick with an exception that we had with earlier versions, IIRC.
IIRC, @bashtage was fixing the try except with `datetools._infer_freq` somewhere because it didn't raise exceptions (anymore).

(I

[2016-07-16 17:27] ChadFulton commented on #3068
No problem, there's no rush on any of this. If I ping you, feel free to ignore until you have time.

[2016-07-16 17:32] #3108 closed

[2016-07-16 19:59] ChadFulton commented on #3068
My opinion on the best course of action for v0.8 is the following:

1. Include the shim fix so that forecasting works, and maintain existing (broken) behavior which allows giving an `endog` as a pandas Series if it has some index that can be converted via `pd.to_datetime()` to a DatetimeIndex (even if the resulting DatetimeIndex is nonsense).
2. Add a deprecation warning to the `datetools._infer_f

[2016-07-16 20:55] #2330 closed

[2016-07-16 22:41] ChadFulton opened #3115 "DESIGN: Roadmap for time series"
Starting an issue to discuss the longer-term roadmap for `tsa` with some of my thoughts / questions. The major theme I have in mind is making `tsa` more consistent in terms of inputs, outputs, and methods. Obviously we haven't even released with state space models, so I am surely "getting ahead of myself".

Some specific thoughts:

- `TimeSeriesModel`: this was written a long time ago (e.g. includ

[2016-07-16 23:34] josef-pkt commented on #3115
@ChadFulton  Thanks Chad, that's very helpful to start with improving the consistency and structure of tsa.

First, inertia, backwards compatibility and advantages of different models/implementations might not move this very fast. i.e. build up and advertise new models before deleting old models. That's mainly about timing not about the direction to go.

I agree to a large extent with this based o

[2016-07-17 04:30] ChadFulton commented on #3111
This should be fixed in master and in maintenance/0.8.x now.

[2016-07-17 04:31] #3111 closed

[2016-07-17 18:53] ChadFulton opened #3116 "BUG: t-test summary confidence interval range always shows [0.025 0.975]"
Regardless of the given alpha, printed confidence interval range in t_test summary is [0.025      0.975], although the actual confidence interval itself does change appropriately.

Given:

[code]

then

[code]

produces:

                                 Test for Constraints
    ==============================================================================
                     coef    std err

[2016-07-17 18:58] ChadFulton commented on #3116
Presumably in `contrast.py:L148` the call to `summary_params` needs to have the `alpha` argument:

[code]

[2016-07-18 16:54] fsaad opened #3118 "Confusing code in KDEMultivariateConditional.pdf method disagrees with documentation"
In the function [kernel_density.KDEMultivariateConditional.pdf](https://github.com/statsmodels/statsmodels/blob/master/statsmodels/nonparametric/kernel_density.py#L481-L531) there is disagreement between the documentation, which uses `f(X|Y) = f(X,Y)/f(Y)` and the code, which is computing `f(X,Y)/f(X)`. Now, lines 526-528 do suggest that the denominator is the right value (the pdf of the exogenous

[2016-07-18 18:24] ChadFulton opened #3119 "BUG: TypeError in contrast results summary() if `df_denom` or `df_num` not passed."
I think the F test itself should probably fail without these degrees of freedom, but it doesn't (although p-value is nan). Then a ValueError is raised when trying to create the summary because `%d` can't handle None / NaN values.

[code]

Exception trace is:

    ---------------------------------------------------------------------------
    TypeError                                 Traceback (mos

[2016-07-18 18:25] ChadFulton commented on #3119
A separate issue here is that state space models shouldn't allow F-tests.

[2016-07-18 18:41] josef-pkt commented on #3119
@ChadFulton  Can you check what `wald_test` is doing in this case?
What is `use_t` in this case?

Note: the type error int required instead of float is most likely also a basic bug because degrees of freedom don't have to be necessarily integer.

related: What is required? Does UnobservedComponent define `df_resid`

For t_test with use_t=False: I left df_resid in there as requirement for a general

[2016-07-18 18:46] josef-pkt commented on #3119
We now always allow use_t = True.
I had let Skipper remove it once, but I'm now convinced that there is no reason to prevent users from using it, even if there is no theoretical or monte carlo justification for it. There are many cases where p-values based on t or F distribution have better small sample properties than normal or chisquare distribution, so we leave it up to the user to deviate from

[2016-07-18 19:03] josef-pkt commented on #3119
maybe we should start to deprecate f_test outside of OLS/WLS or models that default to use_t=True

[2016-07-19 07:56] josef-pkt commented on #3118
Thanks for reporting, Do you want to open a PR to fix it?

It looks like a mistake in the documentation in the pdf method. The class docstring has the correct conditional p(y|x).
The documentation should also mention that y is endog and x is exog in the method arguments,.

[2016-07-20 01:36] ocehugo opened #3121 "datetime conflict with matplotlib"
Hi, just reposting this from the matplotlib issue 6796.

[ 1.5.1 , 3.5, OSX] Matplotlib version, Python version and Platform (Windows, OSX, Linux ...)
[ pip ] How did you install Matplotlib and Python (pip, anaconda, from source ...)
[0.6.1] statsmodels

The issue is that the import of statsmodels break compatibility with standard matplotlib plotting, since statsmodels overwrite the datetime names

[2016-07-20 01:43] ocehugo commented on #3121
Hi just realize that this should be at pandas.

[2016-07-20 07:49] josef-pkt commented on #3121
cross-ref
https://github.com/matplotlib/matplotlib/issues/6796#issuecomment-233859722
https://github.com/pydata/pandas/issues/13713

[2016-07-20 07:49] #3121 closed

[2016-07-21 19:17] ChadFulton commented on #1345
Resurrecting this as I'm thinking about re-working `TimeSeriesModel`. What seems to make the most sense to me is the following:

1. `'drop'` raises exception ("Dropping all missing observations is not supported in time series models."). My reasoning is the following: supporting a "drop" argument sounds like we have a plan for what we're doing, but instead we're just returning nonsense results.

[2016-07-21 19:26] ChadFulton commented on #1345
In the case that we have a Pandas object, it seems like we should enforce that the index has no gaps, by `reindex`-ing the data to induce missing values even if they're not already present.

[2016-07-21 19:48] josef-pkt commented on #1345
adding trim is a good idea

As usual I'm not a fan of raising an exception that "arbitrarily" limits the use cases.
Often when we raise an exception to enforce "statistical sense", there are cases where we still want to do it.
One problems is also that using pandas with tsa requires a time/datetime index, which also removes the possibility just to use an arbitrary integer index.

Beside the usecas

[2016-07-21 20:06] josef-pkt commented on #1345
Related possibilities:

One issue is what and how much to check by default, and where to raise by default.

For example, an automatic check for contiguous time periods with reindex could be worked around with an option `allow_irregular` with default is False. (Similarly, Logit raises on perfect separation, but I added a keyword option to turn the exception into a warning when we want the parameter